<link rel="stylesheet" href="../css/cuestionarios-empresa.css">
<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<div id="preloader_3CSigma">
    <video class="img-gif-loader" src="/img/Preloader-ChatGPT.mp4" alt="Loading..." autoplay loop></video>
</div>

<div class="container-fluid">
    <div class="row row-height">
        <div class="col-xl-4 col-lg-4 color_secondary">
            <div class="content-left-wrapper">
                <a href="#" id="logo"><img src="../img/white-logo.svg" alt="Logo 3CSigma" width="75"
                        height="75"></a>
                <div id="social">
                    <ul>
                        <li><a href="https://facebook.com/carlosjramirezp" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://instagram.com/carlosjramirezp" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="mailto:hello@3csigma.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/carlosjramirezp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://youtube.com/@carlosjramirezp" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- /social -->
                <div>
                    <figure><img src="../img/info_graphic_1.svg" alt="" class="img-fluid" width="270" height="270">
                    </figure>
                    <h2>Evaluación empresarial sistema operacional</h2>
                    <p>Bienvenido al Nivel N° 2, donde podremos ayudarle a analizar y entender el comportamiento de su negocio en el
                        mercado actual.</p>
                    <a href="https://wa.me/+17868461158" target="_blank" class="btn_1 rounded yellow my-auto">
                        <i class="fab fa-whatsapp" style="font-size:19px"></i> ¿Tienes dudas?
                    </a>
                    {{!-- <a href="#start" class="btn_1 rounded mobile_btn yellow">xxxxxxx</a> --}}
                </div>
                <div class="copy">© {{actualYear}} 3C Sigma</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->
        <div class="col-xl-8 col-lg-8 content-right" id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                    <span id="location"></span>
                    <div id="progressbar"></div>
                </div>
                <!-- /top-wizard -->
                <form method="POST" action="/analisis-dimension-operaciones">
                    <input id="website" name="website" type="text" value="">
                    <!-- Leave for security protection, read docs for details -->
                    <div id="middle-wizard">
                        <!-- SECCIÓN 1 - Planeación Estratégica -->
                        <div class="step">
                            <h2 class="section_title">Planeación Estratégica</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Comprensión del Mercado</strong></label>
                                    <label><span>{{preguntas.estrategica.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.estrategica.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Claridad en la Misión y Visión</strong></label>
                                    <label><span>{{preguntas.estrategica.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.estrategica.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.estrategica.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Valores claros</strong></label>
                                    <label><span>{{preguntas.estrategica.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Objetivos Definidos</strong></label>
                                    <label><span>{{preguntas.estrategica.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Análisis FODA</strong></label>
                                    <label><span>{{preguntas.estrategica.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.estrategica.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Participación del Equipo</strong></label>
                                    <label><span>{{preguntas.estrategica.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.estrategica.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Evaluación de la Competencia</strong></label>
                                    <label><span>{{preguntas.estrategica.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.estrategica.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Comunicación Estratégica</strong></label>
                                    <label><span>{{preguntas.estrategica.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.estrategica.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="estrategica[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>

                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 1 -->

                        <!-- SECCIÓN 2 - Procesos Operativos ============================== -->
                        <div class="step">
                            <h2 class="section_title">Procesos Operativos</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Análisis y Mapeo de Procesos</strong></label>
                                    <label><span>{{preguntas.operativos.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Establecimiento de Objetivos Claros</strong></label>
                                    <label><span>{{preguntas.operativos.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Eficiencia</strong></label>
                                    <label><span>{{preguntas.operativos.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>


                                <div class="form-group col-md-12 ">
                                    <label><strong>Flexibilidad</strong></label>
                                    <label><span>{{preguntas.operativos.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Incorporación de Tecnología</strong></label>
                                    <label><span>{{preguntas.operativos.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Revisión Regular</strong></label>
                                    <label><span>{{preguntas.operativos.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Actividades Clave (MN)</strong></label>
                                    <label><span>{{preguntas.operativos.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Gestión del Tiempo</strong></label>
                                    <label><span>{{preguntas.operativos.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Canales de Distribución (MN)</strong></label>
                                    <label><span>{{preguntas.operativos.[15].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[16].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[17].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Alianzas Estratégicas (MN)</strong></label>
                                    <label><span>{{preguntas.operativos.[18].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.operativos.[19].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="operativos[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>


                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 2 -->

                        <!-- SECCIÓN 3 - Integración y Bienestar Laboral ============================== -->
                        <div class="step">
                            <h2 class="section_title">Integración y Bienestar Laboral</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Liderazgo Comprometido</strong></label>
                                    <label><span>{{preguntas.integracion.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Comunicación Abierta y Transparente</strong></label>
                                    <label><span>{{preguntas.integracion.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Flexibilidad</strong></label>
                                    <label><span>{{preguntas.integracion.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.integracion.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Espacio de Trabajo Adecuado</strong></label>
                                    <label><span>{{preguntas.integracion.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.integracion.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Actividades de Integración</strong></label>
                                    <label><span>{{preguntas.integracion.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.integracion.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Salud y Bienestar</strong></label>
                                    <label><span>{{preguntas.integracion.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.integracion.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Participación activa</strong></label>
                                    <label><span>{{preguntas.integracion.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.integracion.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Entorno Laboral</strong></label>
                                    <label><span>{{preguntas.integracion.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.integracion.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Balance Vida-Trabajo</strong></label>
                                    <label><span>{{preguntas.integracion.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="integracion[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>


                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 3 -->

                        <!-- SECCIÓN 4 - Modelo de Negocio ============================== -->
                        <div class="step">
                            <h2 class="section_title">Modelo de Negocio</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Competitividad en el Mercado</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Propuesta de Valor</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.modelo_negocio.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Claridad y Dirección</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Competitividad en el Mercado</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Adaptabilidad y Flexibilidad</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Optimización de Recursos</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.modelo_negocio.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Retroalimentación de Clientes</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Evaluación Interna</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.modelo_negocio.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Monitoreo del Mercado</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Visión a Futuro</strong></label>
                                    <label><span>{{preguntas.modelo_negocio.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="modelo_negocio[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>


                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 4 -->

                        <!-- Último Paso - Confirmación de guardar información ============================== -->
                        <div class="submit step" id="end">
                            <div class="summary">
                                <div class="wrapper">
                                    <h3>Cuestionario Finalizado
                                    </h3>
                                    <p>Al guardar los datos será redirigido al perfil de la empresa</p>
                                </div>

                            </div>
                        </div>
                        <!-- /Último Paso-->

                        {{!-- FECHA DE EDICIÓN --}}
                        <input type="hidden" id="zhActualAdm" name="zhActualAdm">
                        <input type="hidden" id="codigoEmpresa" name="codigoEmpresa" value="{{codigo}}">

                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <button type="button" name="backward" class="backward">Anterior</button>
                        <button type="button" name="forward" class="forward">Siguiente</button>
                        <button type="submit" onclick="cargandoDatos()" class="submit">Guardar Datos</button>
                    </div>
                    <!-- /bottom-wizard -->
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->
</div>
<!-- /container-fluid -->
<a href="{{linkCerrar}}" class="close"></a>
{{> general/footerForms}}