<link rel="stylesheet" href="../css/cuestionarios-empresa.css">
<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<div id="preloader_3CSigma">
    <video class="img-gif-loader" src="/img/Preloader-ChatGPT.mp4" alt="Loading..." autoplay loop></video>
</div>

<div class="container-fluid">
    <div class="row row-height">
        <div class="col-xl-4 col-lg-4 color_secondary">
            <div class="content-left-wrapper">
                <a href="#" id="logo"><img src="../img/white-logo.svg" alt="Logo 3CSigma" width="75"
                        height="75"></a>
                <div id="social">
                    <ul>
                        <li><a href="https://facebook.com/carlosjramirezp" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://instagram.com/carlosjramirezp" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="mailto:hello@3csigma.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/carlosjramirezp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://youtube.com/@carlosjramirezp" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- /social -->
                <div>
                    <figure><img src="../img/info_graphic_1.svg" alt="" class="img-fluid" width="270" height="270">
                    </figure>
                    <h2>Evaluación empresarial sistema soluciones y valor</h2>
                    <p>Bienvenido al Nivel N° 2, donde podremos ayudarle a analizar y entender el comportamiento de su negocio en el
                        mercado actual.</p>
                    <a href="https://wa.me/+17868461158" target="_blank" class="btn_1 rounded yellow my-auto">
                        <i class="fab fa-whatsapp" style="font-size:19px"></i> ¿Tienes dudas?
                    </a>
                    {{!-- <a href="#start" class="btn_1 rounded mobile_btn yellow">xxxxxxx</a> --}}
                </div>
                <div class="copy">© {{actualYear}} 3C Sigma</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->
        <div class="col-xl-8 col-lg-8 content-right" id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                    <span id="location"></span>
                    <div id="progressbar"></div>
                </div>
                <!-- /top-wizard -->
                <form method="POST" action="/analisis-dimension-producto">
                    <input id="website" name="website" type="text" value="">
                    <!-- Leave for security protection, read docs for details -->
                    <div id="middle-wizard">
                        <!-- SECCIÓN 1 -->
                        <div class="step">
                            <h2 class="section_title">Producto - Servicio</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Calidad y Consistencia</strong></label>
                                    <label><span>{{preguntas.producto.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Disponibilidad y Accesibilidad</strong></label>
                                    <label><span>{{preguntas.producto.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Integración en la Gama de Productos o Servicios Según Actividad Comercial</strong></label>
                                    <label><span>{{preguntas.producto.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Presentación del Producto o Servicio</strong></label>
                                    <label><span>{{preguntas.producto.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>

                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 1 -->

                        <!-- SECCIÓN 2 ============================== -->
                        <div class="step">
                            {{!-- <h2 class="section_title">SECCIÓN 2</h2> --}}

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Nivel de Precio</strong></label>
                                    <label><span>{{preguntas.producto.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Adaptabilidad a las Necesidades del Cliente</strong></label>
                                    <label><span>{{preguntas.producto.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Postventa y Garantía</strong></label>
                                    <label><span>{{preguntas.producto.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Feedback y Mejora Continua</strong></label>
                                    <label><span>{{preguntas.producto.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[15].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Identificación con la Marca</strong></label>
                                    <label><span>{{preguntas.producto.[16].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[17].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Innovación y Desarrollo</strong></label>
                                    <label><span>{{preguntas.producto.[18].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.producto.[19].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="producto[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>

                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 2 -->

                        <!-- SECCIÓN 3 ============================== -->
                        <div class="step">
                            <h2 class="section_title">Propuesta de Valor</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12">
                                    <label><strong>Claridad</strong></label>
                                    <label><span>{{preguntas.propuesta.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label><span>{{preguntas.propuesta.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label><strong>Beneficio</strong></label>
                                    <label><span>{{preguntas.propuesta.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label><span>{{preguntas.propuesta.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label><strong>Diferenciación</strong></label>
                                    <label><span>{{preguntas.propuesta.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label><span>{{preguntas.propuesta.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>


                                <div class="form-group col-md-12 ">
                                    <label><strong>Prueba o Validación</strong></label>
                                    <label><span>{{preguntas.propuesta.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.propuesta.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Relevancia del Beneficio</strong></label>
                                    <label><span>{{preguntas.propuesta.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.propuesta.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Coherencia Visual</strong></label>
                                    <label><span>{{preguntas.propuesta.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.propuesta.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>


                                <div class="form-group col-md-12">
                                    <label><strong>Actualización</strong></label>
                                    <label><span>{{preguntas.propuesta.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label><strong>Feedback Positivo</strong></label>
                                    <label><span>{{preguntas.propuesta.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label><span>{{preguntas.propuesta.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label><span>{{preguntas.propuesta.[15].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label><strong>Centrado en el Cliente</strong></label>
                                    <label><span>{{preguntas.propuesta.[16].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label><span>{{preguntas.propuesta.[17].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label><strong>Conexión Emocional</strong></label>
                                    <label><span>{{preguntas.propuesta.[18].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label><span>{{preguntas.propuesta.[19].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="propuesta[]" class="form-control required" style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>


                            </div>

                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 3 -->

                        <!-- Último Paso ============================== -->
                        <div class="submit step" id="end">
                            <div class="summary">
                                <div class="wrapper">
                                    <h3>Cuestionario Finalizado
                                    </h3>
                                    <p>Al guardar los datos será redirigido al perfil de la empresa</p>
                                </div>

                            </div>
                        </div>
                        <!-- /Último Paso-->

                        {{!-- FECHA DE EDICIÓN --}}
                        <input type="hidden" id="zhActualAdm" name="zhActualAdm">
                        <input type="hidden" id="codigoEmpresa" name="codigoEmpresa" value="{{codigo}}">

                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <button type="button" name="backward" class="backward">Anterior</button>
                        <button type="button" name="forward" class="forward">Siguiente</button>
                        <button type="submit" onclick="cargandoDatos()" class="submit">Guardar Datos</button>
                    </div>
                    <!-- /bottom-wizard -->
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->
</div>
<!-- /container-fluid -->
<a href="{{linkCerrar}}" class="close"></a>
{{> general/footerForms}}