<link rel="stylesheet" href="../css/cuestionarios-empresa.css">
<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<div id="preloader_3CSigma">
    <video class="img-gif-loader" src="/img/Preloader-ChatGPT.mp4" alt="Loading..." autoplay loop></video>
</div>

<div class="container-fluid">
    <div class="row row-height">
        <div class="col-xl-4 col-lg-4 color_secondary">
            <div class="content-left-wrapper">
                <a href="#" id="logo"><img src="../img/white-logo.svg" alt="Logo 3CSigma" width="75"
                        height="75"></a>
                <div id="social">
                    <ul>
                        <li><a href="https://facebook.com/carlosjramirezp" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://instagram.com/carlosjramirezp" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="mailto:hello@3csigma.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/carlosjramirezp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://youtube.com/@carlosjramirezp" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- /social -->
                <div>
                    <figure><img src="../img/info_graphic_1.svg" alt="" class="img-fluid" width="270" height="270">
                    </figure>
                    <h2>Evaluación empresarial sistema comercialización</h2>
                    <p>Bienvenido al Nivel N° 2, donde podremos ayudarle a analizar y entender el comportamiento de su negocio en el
                        mercado actual.</p>
                    <a href="https://wa.me/+17868461158" target="_blank" class="btn_1 rounded yellow my-auto">
                        <i class="fab fa-whatsapp" style="font-size:19px"></i> ¿Tienes dudas?
                    </a>
                    {{!-- <a href="#start" class="btn_1 rounded mobile_btn yellow">xxxxxxx</a> --}}
                </div>
                <div class="copy">© {{actualYear}} 3C Sigma</div>
            </div>
            <!-- /content-left-wrapper -->
        </div>
        <!-- /content-left -->
        <div class="col-xl-8 col-lg-8 content-right" id="start">
            <div id="wizard_container">
                <div id="top-wizard">
                    <span id="location"></span>
                    <div id="progressbar"></div>
                </div>
                <!-- /top-wizard -->
                <form method="POST" action="/analisis-dimension-marketing">
                    <input id="website" name="website" type="text" value="">
                    <div id="middle-wizard">
                        <!-- SECCIÓN 1 - Asistencia y Relación con el Cliente -->
                        <div class="step">
                            <h2 class="section_title">Asistencia y Relación con el Cliente</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Entendimiento profundo del cliente</strong></label>
                                    <label><span>{{preguntas.asistencia.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.asistencia.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Relaciones con Clientes (MN)</strong></label>
                                    <label><span>{{preguntas.asistencia.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.asistencia.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.asistencia.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Comunicación efectiva (MN)</strong></label>
                                    <label><span>{{preguntas.asistencia.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.asistencia.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-12 ">
                                    <label><strong>Capacitación del personal</strong></label>
                                    <label><span>{{preguntas.asistencia.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Respuesta rápida</strong></label>
                                    <label><span>{{preguntas.asistencia.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.asistencia.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Uso de tecnología</strong></label>
                                    <label><span>{{preguntas.asistencia.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Resolución de problemas</strong></label>
                                    <label><span>{{preguntas.asistencia.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.asistencia.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Recompensas y lealtad</strong></label>
                                    <label><span>{{preguntas.asistencia.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.asistencia.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Seguimiento proactivo</strong></label>
                                    <label><span>{{preguntas.asistencia.[15].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Integridad y transparencia</strong></label>
                                    <label><span>{{preguntas.asistencia.[16].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="asistencia[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>

                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 1 -->

                        <!-- SECCIÓN 2 - Marketing ============================== -->
                        <div class="step">
                            <h2 class="section_title">Marketing</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Comprensión del Público Objetivo (MN)</strong></label>
                                    <label><span>{{preguntas.marketing.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Conocimiento del Cliente Objetivo (MN)</strong></label>
                                    <label><span>{{preguntas.marketing.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Propuesta de Valor (MN)</strong></label>
                                    <label><span>{{preguntas.marketing.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Presencia Digital - Sitio Web</strong></label>
                                    <label><span>{{preguntas.marketing.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Redes Sociales</strong></label>
                                    <label><span>{{preguntas.marketing.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Contenido de Calidad</strong></label>
                                    <label><span>{{preguntas.marketing.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[15].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>SEO</strong></label>
                                    <label><span>{{preguntas.marketing.[16].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[17].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Publicidad Segmentada</strong></label>
                                    <label><span>{{preguntas.marketing.[18].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[19].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Educación y Capacitación Continua</strong></label>
                                    <label><span>{{preguntas.marketing.[20].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Asignación Adecuada de Recursos</strong></label>
                                    <label><span>{{preguntas.marketing.[21].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Plan de Marketing</strong></label>
                                    <label><span>{{preguntas.marketing.[22].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.marketing.[23].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Manual de Identidad Corporativa</strong></label>
                                    <label><span>{{preguntas.marketing.[24].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="marketing[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                            </div>


                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 2 -->

                        <!-- SECCIÓN 3 - Ventas  ============================== -->
                        <div class="step">
                            <h2 class="section_title">Ventas</h2>

                            <div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

                                <div class="form-group col-md-12 ">
                                    <label><strong>Estrategias de Ventas</strong></label>
                                    <label><span>{{preguntas.ventas.[0].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.ventas.[1].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Conocimiento del Producto/Servicio</strong></label>
                                    <label><span>{{preguntas.ventas.[2].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.ventas.[3].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Uso de Tecnología</strong></label>
                                    <label><span>{{preguntas.ventas.[4].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Diversificación de Canales de Ventas</strong></label>
                                    <label><span>{{preguntas.ventas.[5].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.ventas.[6].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Entender al Cliente</strong></label>
                                    <label><span>{{preguntas.ventas.[7].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Gestión de Precios</strong></label>
                                    <label><span>{{preguntas.ventas.[8].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Integración con Marketing</strong></label>
                                    <label><span>{{preguntas.ventas.[9].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.ventas.[10].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Relaciones a Largo Plazo</strong></label>
                                    <label><span>{{preguntas.ventas.[11].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.ventas.[12].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Objetivos y Feedback</strong></label>
                                    <label><span>{{preguntas.ventas.[13].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.ventas.[14].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Red de Contactos (Networking)</strong></label>
                                    <label><span>{{preguntas.ventas.[15].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label><span>{{preguntas.ventas.[16].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 ">
                                    <label><strong>Cultura de Ventas Positiva</strong></label>
                                    <label><span>{{preguntas.ventas.[17].txt}}</span></label>
                                    <div class="form-group mb-3 mx-auto">
                                        <textarea name="ventas[]" class="form-control required"
										style="height: 115px; min-height: 110px;"></textarea>
                                    </div>
                                </div>
                                
                            </div>


                            <!-- /Fila Grupo de campos -->
                        </div>
                        <!-- /Paso 3 -->

                        <!-- Último Paso ============================== -->
                        <div class="submit step" id="end">
                            <div class="summary">
                                <div class="wrapper">
                                    <h3>Cuestionario Finalizado
                                    </h3>
                                    <p>Al guardar los datos será redirigido al perfil de la empresa</p>
                                </div>

                            </div>
                        </div>
                        <!-- /Último Paso-->

                        {{!-- FECHA DE EDICIÓN --}}
                        <input type="hidden" id="zhActualAdm" name="zhActualAdm">
                        <input type="hidden" id="codigoEmpresa" name="codigoEmpresa" value="{{codigo}}">

                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <button type="button" name="backward" class="backward">Anterior</button>
                        <button type="button" name="forward" class="forward">Siguiente</button>
                        <button type="submit" onclick="cargandoDatos()" class="submit">Guardar Datos</button>
                    </div>
                    <!-- /bottom-wizard -->
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
        <!-- /content-right-->
    </div>
    <!-- /row-->
</div>
<!-- /container-fluid -->
<a href="{{linkCerrar}}" class="close"></a>
{{> general/footerForms}}