<style>
    .nav-tabs .nav-item .nav-link.active:before {
        height: 3px;
        background-color: #50368c;
    }
</style>
<div class="modal fade bd-example-modal-lg" id="modalEmpresasEstablecidas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="default-tab">
                    <ul class="nav nav-tabs" role="tablist" style="border-bottom: none;">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#soluciones">
                                <?xml version="1.0" ?><svg height="20" id="icon" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><rect height="2" width="6" x="8" y="18"/><rect height="2" width="10" x="8" y="22"/><path d="M26,4H6A2.0025,2.0025,0,0,0,4,6V26a2.0025,2.0025,0,0,0,2,2H26a2.0025,2.0025,0,0,0,2-2V6A2.0025,2.0025,0,0,0,26,4ZM18,6v4H14V6ZM6,26V6h6v6h8V6h6l.0012,20Z"/><rect class="cls-1" data-name="&lt;Transparent Rectangle&gt;" height="32" id="Transparent_Rectangle" width="32"/></svg>
                                SOLUCIONES Y VALOR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#gestion">
                                <?xml version="1.0" ?><svg height="20" version="1.1" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><g id="layer1"><path d="M 12.5 0 A 0.50005 0.50005 0 0 0 12 0.5 L 12 2 L 0 2 L 0 3 L 12 3 L 12 4 A 0.50005 0.50005 0 0 0 12.146484 4.3535156 L 13.646484 5.8535156 A 0.50005 0.50005 0 0 0 14.353516 5.8535156 L 15.853516 4.3535156 A 0.50005 0.50005 0 0 0 16 4 L 16 3 L 20 3 L 20 2 L 16 2 L 16 0.5 A 0.50005 0.50005 0 0 0 15.5 0 L 12.5 0 z M 13 1 L 15 1 L 15 3.7929688 L 14 4.7929688 L 13 3.7929688 L 13 1 z M 3.5 7 A 0.50005 0.50005 0 0 0 3 7.5 L 3 9 L 0 9 L 0 10 L 3 10 L 3 11 A 0.50005 0.50005 0 0 0 3.1464844 11.353516 L 4.6464844 12.853516 A 0.50005 0.50005 0 0 0 5.3535156 12.853516 L 6.8535156 11.353516 A 0.50005 0.50005 0 0 0 7 11 L 7 10 L 20 10 L 20 9 L 7 9 L 7 7.5 A 0.50005 0.50005 0 0 0 6.5 7 L 3.5 7 z M 4 8 L 6 8 L 6 10.792969 L 5 11.792969 L 4 10.792969 L 4 8 z M 8.5 14 A 0.50005 0.50005 0 0 0 8 14.5 L 8 16 L 0 16 L 0 17 L 8 17 L 8 18 A 0.50005 0.50005 0 0 0 8.1464844 18.353516 L 9.6464844 19.853516 A 0.50005 0.50005 0 0 0 10.353516 19.853516 L 11.853516 18.353516 A 0.50005 0.50005 0 0 0 12 18 L 12 17 L 20 17 L 20 16 L 12 16 L 12 14.5 A 0.50005 0.50005 0 0 0 11.5 14 L 8.5 14 z M 9 15 L 11 15 L 11 17.792969 L 10 18.792969 L 9 17.792969 L 9 15 z " style="fill:#222222; fill-opacity:1; stroke:none; stroke-width:0px;"/></g></svg> 
                                GESTIÓN DE RECURSOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#operacional">
                                <?xml version="1.0" ?><svg height="20" width="20" data-name="Livello 1" id="Livello_1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title/><path d="M64,39A25,25,0,1,0,89,64,25,25,0,0,0,64,39Zm0,44A19,19,0,1,1,83,64,19,19,0,0,1,64,83Z"/><path d="M121,48h-8.93a1,1,0,0,1-.94-.68,49.9,49.9,0,0,0-2-4.85,1,1,0,0,1,.18-1.15L115.62,35a7,7,0,0,0,0-9.9L102.89,12.38a7,7,0,0,0-9.9,0l-6.31,6.31a1,1,0,0,1-1.15.18,49.76,49.76,0,0,0-4.85-2,1,1,0,0,1-.68-.94V7a7,7,0,0,0-7-7H55a7,7,0,0,0-7,7v8.93a1,1,0,0,1-.68.94,49.9,49.9,0,0,0-4.85,2,1,1,0,0,1-1.15-.18L35,12.38a7,7,0,0,0-9.9,0L12.38,25.11a7,7,0,0,0,0,9.9l6.31,6.31a1,1,0,0,1,.18,1.15,49.76,49.76,0,0,0-2,4.85,1,1,0,0,1-.94.68H7a7,7,0,0,0-7,7V73a7,7,0,0,0,7,7h8.93a1,1,0,0,1,.94.68,49.9,49.9,0,0,0,2,4.85,1,1,0,0,1-.18,1.15L12.38,93a7,7,0,0,0,0,9.9l12.73,12.73a7,7,0,0,0,9.9,0l6.31-6.31a1,1,0,0,1,1.15-.18,49.76,49.76,0,0,0,4.85,2,1,1,0,0,1,.68.94V121a7,7,0,0,0,7,7H73a7,7,0,0,0,7-7v-8.93a1,1,0,0,1,.68-.94,49.9,49.9,0,0,0,4.85-2,1,1,0,0,1,1.15.18L93,115.62a7,7,0,0,0,9.9,0l12.73-12.73a7,7,0,0,0,0-9.9l-6.31-6.31a1,1,0,0,1-.18-1.15,49.76,49.76,0,0,0,2-4.85,1,1,0,0,1,.94-.68H121a7,7,0,0,0,7-7V55A7,7,0,0,0,121,48Zm1,25a1,1,0,0,1-1,1h-8.93a7,7,0,0,0-6.6,4.69,43.9,43.9,0,0,1-1.76,4.26,7,7,0,0,0,1.35,8l6.31,6.31a1,1,0,0,1,0,1.41L98.65,111.38a1,1,0,0,1-1.41,0l-6.31-6.31a7,7,0,0,0-8-1.35,43.88,43.88,0,0,1-4.27,1.76,7,7,0,0,0-4.68,6.6V121a1,1,0,0,1-1,1H55a1,1,0,0,1-1-1v-8.93a7,7,0,0,0-4.69-6.6,43.9,43.9,0,0,1-4.26-1.76,7,7,0,0,0-8,1.35l-6.31,6.31a1,1,0,0,1-1.41,0L16.62,98.65a1,1,0,0,1,0-1.41l6.31-6.31a7,7,0,0,0,1.35-8,43.88,43.88,0,0,1-1.76-4.27A7,7,0,0,0,15.93,74H7a1,1,0,0,1-1-1V55a1,1,0,0,1,1-1h8.93a7,7,0,0,0,6.6-4.69,43.9,43.9,0,0,1,1.76-4.26,7,7,0,0,0-1.35-8l-6.31-6.31a1,1,0,0,1,0-1.41L29.35,16.62a1,1,0,0,1,1.41,0l6.31,6.31a7,7,0,0,0,8,1.35,43.88,43.88,0,0,1,4.27-1.76A7,7,0,0,0,54,15.93V7a1,1,0,0,1,1-1H73a1,1,0,0,1,1,1v8.93a7,7,0,0,0,4.69,6.6,43.9,43.9,0,0,1,4.26,1.76,7,7,0,0,0,8-1.35l6.31-6.31a1,1,0,0,1,1.41,0l12.73,12.73a1,1,0,0,1,0,1.41l-6.31,6.31a7,7,0,0,0-1.35,8,43.88,43.88,0,0,1,1.76,4.27,7,7,0,0,0,6.6,4.68H121a1,1,0,0,1,1,1Z"/></svg>
                                OPERACIONAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#comercializacion">
                                <?xml version="1.0" ?><svg height="20" width="20" id="svg8" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs2"><rect height="7.0346723" id="rect2504" width="7.9207187" x="-1.1008456" y="289.81766"/></defs><g id="g2869" transform="translate(0.00925556)"><path d="m 18.902166,9.4538173 c 0,0.3334126 0,0.6668247 0,1.0002377 1.215368,0 2.430737,0 3.646105,0 0,-0.333413 0,-0.6668251 0,-1.0002377 -1.215368,0 -2.430737,0 -3.646105,0 z" id="path1597" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1px;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"/><path d="m 19.325651,11.787018 c -0.150802,0.297592 -0.301604,0.595183 -0.452406,0.892775 1.08501,0.547423 2.166531,1.101732 3.251541,1.649154 0.150802,-0.297592 0.301604,-0.595183 0.452406,-0.892775 C 21.492183,12.88875 20.41066,12.33444 19.325651,11.787018 Z" id="path1601" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1px;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"/><path d="m 22.124786,5.5789262 c -1.08501,0.547421 -2.166531,1.1017329 -3.251541,1.6491537 0.150802,0.2975916 0.301604,0.5951833 0.452406,0.8927749 C 20.408689,7.5688574 21.494154,7.0216321 22.577192,6.4696345 22.42639,6.1727317 22.275588,5.875829 22.124786,5.5789262 Z" id="path1605" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1px;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"/><path d="m 13.753906,45.109375 c -2.960651,0.959865 -5.922005,1.917568 -8.8828122,2.876953 -0.056311,-0.0091 -0.107435,-0.0332 -0.1660157,-0.0332 H 2.5117188 c -0.6043789,0 -1.1074219,0.503043 -1.1074219,1.107422 v 3.917969 c 0,0.604378 0.503043,1.10742 1.1074219,1.107422 h 0.3535156 l 2.390625,6.697265 H 8.7851562 L 6.6542969,54.423828 c 2.365928,0.49068 4.7318251,0.981507 7.0976561,1.472656 v 0.02148 c 0,1.064702 0.903868,1.914062 1.994139,1.914062 1.090271,0 1.994138,-0.84936 1.994138,-1.914062 V 45.132812 c 0,-1.064702 -0.903867,-1.916015 -1.99009,-1.916015 -1.086223,0 -1.982782,0.839103 -1.996234,1.892578 z m 1.992186,-0.892578 c 0.577131,0 0.994138,0.41266 0.994138,0.916015 v 10.785157 c 0,0.503355 -0.417007,0.914062 -0.994138,0.914062 -0.577131,0 -0.994139,-0.410707 -0.994139,-0.914062 V 45.132812 c 0,-0.503355 0.417008,-0.916015 0.994139,-0.916015 z m -1.994139,1.943359 V 54.875 C 11.109396,54.32672 8.4668249,53.77851 5.8242188,53.230469 v -4.501953 c 2.642577,-0.856123 5.2852822,-1.71185 7.9277342,-2.56836 z M 2.5117188,48.953125 h 2.1933593 c 0.067682,0 0.1074219,0.03974 0.1074219,0.107422 v 1.458984 H 2.4042969 v -1.458984 c 0,-0.06768 0.03974,-0.107422 0.1074219,-0.107422 z M 2.4042969,51.519531 H 4.8125 v 1.458985 c 0,0.06768 -0.03974,0.107422 -0.1074219,0.107422 H 2.5117188 c -0.067682,0 -0.1074219,-0.03974 -0.1074219,-0.107422 z m 2.4609375,2.533203 c 0.2180343,0.04523 0.4362614,0.08954 0.6542968,0.134766 l 1.875,5.595703 H 5.9609375 L 3.9257812,54.085938 h 0.7792969 c 0.056595,0 0.1056685,-0.02471 0.1601563,-0.0332 z" id="path1609" style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.999993;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000;stop-opacity:1" transform="translate(-2.5821961e-8,-40)"/></g></svg>
                                COMERCIALIZACION</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="default-tab">
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="soluciones" role="tabpanel">
                            <h4 style="color: #000 !important">PRODUCTO/SERVICIO</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>¿En qué nicho, rubro, sector o área está tu negocio?</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rubro}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>¿Que ofrece tu empresa?</td>
                                        <td>{{cuestionario.diagnostico.respuestas.ofrece}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Calidad y Consistencia</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.producto.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Disponibilidad y Accesibilidad</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.producto.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[1]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Integración en la Gama de Productos o Servicios Según Actividad Comercial</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.producto.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Presentación del Producto o Servicio</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.producto.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Nivel de Precio</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.producto.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Adaptabilidad a las Necesidades del Cliente</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.producto.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[5]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Postventa y Garantía</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.producto.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Feedback y Mejora Continua</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.producto.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Identificación con la Marca</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">11</td>
                                        <td>{{preguntas.producto.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Innovación y Desarrollo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">12</td>
                                        <td>{{preguntas.producto.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">13</td>
                                        <td><span class="text-black">{{preguntas.producto.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.producto.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">PROPUESTA DE VALOR</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Claridad</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.propuesta.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Beneficio</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.propuesta.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[1]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Diferenciación</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.propuesta.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Prueba o Validación</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.propuesta.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Relevancia del Beneficio</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.propuesta.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Coherencia Visual</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.propuesta.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[5]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Actualización</strong></td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.propuesta.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Feedback Positivo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.propuesta.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Centrado en el Cliente</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.propuesta.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Conexión Emocional</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.propuesta.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.propuesta.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.propuesta.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>

                        <div class="tab-pane fade" id="gestion">
                            
                            <h4 style="color: #000 !important">GESTION DE RECURSOS ADMINISTRATIVOS</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Recursos Materiales (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.rAdmin.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Equipamiento Tecnológico (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.rAdmin.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[1]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Software y Herramientas (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.rAdmin.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Soluciones en la Nube</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.rAdmin.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Sistemas Administrativos y Procedimientos</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.rAdmin.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Comunicación Interna</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.rAdmin.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[5]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Estructura Organizativa</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.rAdmin.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Flujos de Trabajo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.rAdmin.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Adaptabilidad Tecnológica</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.rAdmin.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Revisión de Sistemas</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.rAdmin.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.rAdmin.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">GESTION DE RECURSOS FINACIEROS</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Planificación Financiera</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.rAdmin.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Presupuestos</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.rAdmin.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[1]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Estructura de Costos (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.rAdmin.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Flujo de Efectivo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.rAdmin.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Fuentes de Ingreso Diversificadas (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.rAdmin.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Acceso a Financiamiento</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.rAdmin.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[5]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Cuentas por Pagar y Cobrar</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.rAdmin.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Rentabilidad sobre las Ventas (ROS:Return on Sales)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.rAdmin.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Punto de Equilibrio</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.rAdmin.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Análisis Financiero</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.rAdmin.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.rAdmin.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rAdmin.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">GESTION DEL RECURSO HUMANO</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Reconocimiento del Valor Individual</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.rHumano.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Desarrollo del Talento Humano</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.rHumano.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[1]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Retención del Talento</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.rHumano.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[2]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.rHumano.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Remuneración Justa y Competitiva</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.rHumano.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[4]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.rHumano.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[5]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Principales Funciones del Personal</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.rHumano.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Evaluación de Desempeño</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.rHumano.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Necesidades de Contratación</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.rHumano.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Proceso de Contratación</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.rHumano.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.rHumano.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.rHumano.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="tab-pane fade" id="operacional">

                            <h4 style="color: #000 !important">PLANEACION ESTRATEGICA</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Comprensión del Mercado</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.estrategica.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Claridad en la Misión y Visión</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.estrategica.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[1]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.estrategica.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Valores claros</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.estrategica.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Objetivos Definidos</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.estrategica.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Análisis FODA</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.estrategica.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[5]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.estrategica.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Participación del Equipo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.estrategica.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Evaluación de Competencia</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.estrategica.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Comunicación Estratégica</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.estrategica.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.estrategica.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.estrategica.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">PROCESOS OPERATIVOS</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Análisis y Mapeo de Procesos</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.operativos.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Establecimiento de Objetivos Claros</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.operativos.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[1]}}</td>
                                    </tr>
                                    

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Eficiencia</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.operativos.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Flexibilidad</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.operativos.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Medición y Monitoreo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.operativos.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Incorporación de Tecnología</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.operativos.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[5]}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Revisión Regular</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.operativos.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Actividades Clave (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.operativos.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Gestión del Tiempo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.operativos.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Canales de Distribución Efectivos (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.operativos.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.operativos.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.operativos.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">INTEGRACION Y BIENESTAR LABORAL</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Liderazgo Comprometido</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.integracion.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Comunicación Abierta y Transparente</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.integracion.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[1]}}</td>
                                    </tr>
                                    

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Flexibilidad</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.integracion.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Espacio de Trabajo Adecuado</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.integracion.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Actividades de Integración</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.integracion.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Salud y Bienestar</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.integracion.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[5]}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Participación Activa</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.integracion.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Entorno Laboral</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.integracion.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[7]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.integracion.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Balance Vida-Trabajo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.integracion.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.integracion.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.integracion.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">MODELO DE NEGOCIO</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Comprensión del Modelo Actual</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.modelo_negocio.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Propuesta de Valor</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.modelo_negocio.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[1]}}</td>
                                    </tr>
                                    

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Claridad y Dirección</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.modelo_negocio.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Competitividad en el Mercado</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.modelo_negocio.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Adaptabilidad y Flexibilidad</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.modelo_negocio.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Optimización de Recursos</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.modelo_negocio.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[5]}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Retroalimentación de Clientes</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.modelo_negocio.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Evaluación Interna</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.modelo_negocio.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Monitoreo del Mercado</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.modelo_negocio.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[8]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Visión a Futuro</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.modelo_negocio.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.modelo_negocio.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.modelo_negocio.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">ASISTENCIA Y RELACION CON EL CLIENTE</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Entendimiento profundo del cliente</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.asistencia.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Relaciones con Clientes (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.asistencia.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[1]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.asistencia.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Comunicación efectiva (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.asistencia.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Capacitación del personal</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.asistencia.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Respuesta rápida</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.asistencia.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[5]}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Uso de tecnología</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.asistencia.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Resolución de problemas</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.asistencia.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Recompensas y lealtad</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.asistencia.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[8]}}</td>
                                    </tr>

                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Seguimiento proactivo</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.asistencia.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.asistencia.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="tab-pane fade" id="comercializacion">

                            <h4 style="color: #000 !important">MARKETING</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Comprensión del Público Objetivo (MN)</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.asistencia.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Presencia Digital - Sitio Web</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.asistencia.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[1]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Redes Sociales</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.asistencia.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Contenido de Calidad</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.asistencia.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[3]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Publicidad Segmentada</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.asistencia.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Medición y Análisis</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.asistencia.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[5]}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Educación y Capacitación Continua</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.asistencia.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Asignación Adecuada de Recursos</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.asistencia.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Plan de Marketing</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.asistencia.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[8]}}</td>
                                    </tr>

                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Manual de Identidad Corporativa</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.asistencia.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.asistencia.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="my-5">
                            <h4 style="color: #000 !important">VENTAS</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pregunta</th>
                                        <th>Respuesta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Estrategias de Ventas</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{preguntas.asistencia.[0].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[0]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Conocimiento del Producto/Servicio</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>{{preguntas.asistencia.[1].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[1]}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Uso de Tecnología</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>{{preguntas.asistencia.[2].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[2]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Diversificación de Canales de Ventas</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>{{preguntas.asistencia.[3].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[3]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>{{preguntas.asistencia.[4].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[4]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Entender al Cliente</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>{{preguntas.asistencia.[5].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[5]}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Gestión de Precios</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7</td>
                                        <td>{{preguntas.asistencia.[6].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[6]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Integración con Marketing</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">8</td>
                                        <td>{{preguntas.asistencia.[7].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[7]}}</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2" class="text-black">Objetivos y Feedback</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">9</td>
                                        <td>{{preguntas.asistencia.[8].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[8]}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">10</td>
                                        <td>{{preguntas.asistencia.[9].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[9]}}</td>
                                    </tr>

                                    <tr>
                                        <td scope="row">11</td>
                                        <td class="text-black">{{preguntas.asistencia.[10].txt}}</td>
                                        <td>{{cuestionario.diagnostico.respuestas.asistencia.[10]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn color_gradient light text-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>