<div class="modal fade bd-example-modal-lg" id="modalDimAdministracion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="color: #000 !important">Evaluación Empresarial Sistema de Gestión de Recursos</h2>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>

            <div class="modal-header">
                <ul class="nav nav-tabs" role="tablist" style="border-bottom: none;">
                    <li class=" nav-item">
                        <a href="#rAdmin" class="nav-link active" data-toggle="tab" aria-expanded="false">Recursos Administrativos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#rFinanciero" class="nav-link" data-toggle="tab" aria-expanded="false">Recursos Financieros</a>
                    </li>
                    <li class="nav-item">
                        <a href="#rHumano" class="nav-link" data-toggle="tab" aria-expanded="true">Recurso Humano</a>
                    </li>
                </ul>
            </div>

            <div class="modal-body">

                <div class="tab-content">
                    
                    <div id="rAdmin" class="tab-pane active">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Recursos Materiales (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{preguntas.admin.[0].txt}}</td>
                                    <td>{{sistema.gestion.admin.[0]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>{{preguntas.admin.[1].txt}}</td>
                                    <td>{{sistema.gestion.admin.[1]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Equipamiento Tecnológico – Hardware (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>{{preguntas.admin.[2].txt}}</td>
                                    <td>{{sistema.gestion.admin.[2]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>{{preguntas.admin.[3].txt}}</td>
                                    <td>{{sistema.gestion.admin.[3]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">5</td>
                                    <td>{{preguntas.admin.[4].txt}}</td>
                                    <td>{{sistema.gestion.admin.[4]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Software y Herramientas (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">6</td>
                                    <td>{{preguntas.admin.[5].txt}}</td>
                                    <td>{{sistema.gestion.admin.[5]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">7</td>
                                    <td>{{preguntas.admin.[6].txt}}</td>
                                    <td>{{sistema.gestion.admin.[6]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Soluciones en la Nube</td>
                                </tr>
                                <tr>
                                    <td scope="row">8</td>
                                    <td>{{preguntas.admin.[7].txt}}</td>
                                    <td>{{sistema.gestion.admin.[7]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">9</td>
                                    <td>{{preguntas.admin.[8].txt}}</td>
                                    <td>{{sistema.gestion.admin.[8]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Sistemas Administrativos - Procedimientos</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>{{preguntas.admin.[9].txt}}</td>
                                    <td>{{sistema.gestion.admin.[9]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">11</td>
                                    <td>{{preguntas.admin.[10].txt}}</td>
                                    <td>{{sistema.gestion.admin.[10]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Comunicación interna</td>
                                </tr>
                                <tr>
                                    <td scope="row">12</td>
                                    <td>{{preguntas.admin.[11].txt}}</td>
                                    <td>{{sistema.gestion.admin.[11]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">13</td>
                                    <td>{{preguntas.admin.[12].txt}}</td>
                                    <td>{{sistema.gestion.admin.[12]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Estructura Organizativa</td>
                                </tr>
                                <tr>
                                    <td scope="row">14</td>
                                    <td>{{preguntas.admin.[13].txt}}</td>
                                    <td>{{sistema.gestion.admin.[13]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">15</td>
                                    <td>{{preguntas.admin.[14].txt}}</td>
                                    <td>{{sistema.gestion.admin.[14]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">16</td>
                                    <td>{{preguntas.admin.[15].txt}}</td>
                                    <td>{{sistema.gestion.admin.[15]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Flujos de Trabajo</td>
                                </tr>
                                <tr>
                                    <td scope="row">17</td>
                                    <td>{{preguntas.admin.[16].txt}}</td>
                                    <td>{{sistema.gestion.admin.[16]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">18</td>
                                    <td>{{preguntas.admin.[17].txt}}</td>
                                    <td>{{sistema.gestion.admin.[17]}}</td>
                                </tr>
                                
                                
                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Adaptabilidad Tecnológica</td>
                                </tr>
                                <tr>
                                    <td scope="row">19</td>
                                    <td>{{preguntas.admin.[18].txt}}</td>
                                    <td>{{sistema.gestion.admin.[18]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">20</td>
                                    <td>{{preguntas.admin.[19].txt}}</td>
                                    <td>{{sistema.gestion.admin.[19]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Revisión de Sistemas</td>
                                </tr>
                                <tr>
                                    <td scope="row">21</td>
                                    <td>{{preguntas.admin.[20].txt}}</td>
                                    <td>{{sistema.gestion.admin.[20]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="rFinanciero" class="tab-pane">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Planificación Financiera</td>
                                </tr>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{preguntas.rFinanciero.[0].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[0]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>{{preguntas.rFinanciero.[1].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[1]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Presupuestos</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>{{preguntas.rFinanciero.[2].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[2]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>{{preguntas.rFinanciero.[3].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[3]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Estructura de Costos (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">5</td>
                                    <td>{{preguntas.rFinanciero.[4].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[4]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">6</td>
                                    <td>{{preguntas.rFinanciero.[5].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[5]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Flujo de Efectivo</td>
                                </tr>
                                <tr>
                                    <td scope="row">7</td>
                                    <td>{{preguntas.rFinanciero.[6].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[6]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">8</td>
                                    <td>{{preguntas.rFinanciero.[7].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[7]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">9</td>
                                    <td>{{preguntas.rFinanciero.[8].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[8]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Fuentes de Ingreso (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>{{preguntas.rFinanciero.[9].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[9]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">11</td>
                                    <td>{{preguntas.rFinanciero.[10].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[10]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">12</td>
                                    <td>{{preguntas.rFinanciero.[11].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[11]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Acceso a Financiamiento</td>
                                </tr>
                                <tr>
                                    <td scope="row">13</td>
                                    <td>{{preguntas.rFinanciero.[12].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[12]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">14</td>
                                    <td>{{preguntas.rFinanciero.[13].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[13]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Cuentas por Pagar y Cobrar</td>
                                </tr>
                                <tr>
                                    <td scope="row">15</td>
                                    <td>{{preguntas.rFinanciero.[14].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[14]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">16</td>
                                    <td>{{preguntas.rFinanciero.[15].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[15]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Rentabilidad sobre las Ventas (ROS: Return on Sales)</td>
                                </tr>
                                <tr>
                                    <td scope="row">17</td>
                                    <td>{{preguntas.rFinanciero.[16].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[16]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">18</td>
                                    <td>{{preguntas.rFinanciero.[17].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[17]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">19</td>
                                    <td>{{preguntas.rFinanciero.[18].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[18]}}</td>
                                </tr>
                                
                                
                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Punto de Equilibrio</td>
                                </tr>
                                <tr>
                                    <td scope="row">20</td>
                                    <td>{{preguntas.rFinanciero.[19].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[19]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">21</td>
                                    <td>{{preguntas.rFinanciero.[20].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[20]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Análisis Financiero</td>
                                </tr>
                                <tr>
                                    <td scope="row">22</td>
                                    <td>{{preguntas.rFinanciero.[21].txt}}</td>
                                    <td>{{sistema.gestion.rFinanciero.[21]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="rHumano" class="tab-pane">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Reconocimiento del Valor Individual</td>
                                </tr>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{preguntas.rHumano.[0].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[0]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>{{preguntas.rHumano.[1].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[1]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Desarrollo del Talento Humano</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>{{preguntas.rHumano.[2].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[2]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>{{preguntas.rHumano.[3].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[3]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Retención del Talento</td>
                                </tr>
                                <tr>
                                    <td scope="row">5</td>
                                    <td>{{preguntas.rHumano.[4].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[4]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">6</td>
                                    <td>{{preguntas.rHumano.[5].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[5]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Remuneración Justa y Competitiva</td>
                                </tr>
                                <tr>
                                    <td scope="row">7</td>
                                    <td>{{preguntas.rHumano.[6].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[6]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">8</td>
                                    <td>{{preguntas.rHumano.[7].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[7]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">9</td>
                                    <td>{{preguntas.rHumano.[8].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[8]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>{{preguntas.rHumano.[9].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[9]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Principales Funciones del Personal</td>
                                </tr>
                                <tr>
                                    <td scope="row">11</td>
                                    <td>{{preguntas.rHumano.[10].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[10]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">12</td>
                                    <td>{{preguntas.rHumano.[11].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[11]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Evaluación de Desempeño</td>
                                </tr>
                                <tr>
                                    <td scope="row">13</td>
                                    <td>{{preguntas.rHumano.[12].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[12]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">14</td>
                                    <td>{{preguntas.rHumano.[13].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[13]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Necesidades de Contratación</td>
                                </tr>
                                <tr>
                                    <td scope="row">15</td>
                                    <td>{{preguntas.rHumano.[14].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[14]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">16</td>
                                    <td>{{preguntas.rHumano.[15].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[15]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Proceso de Contratación</td>
                                </tr>
                                <tr>
                                    <td scope="row">17</td>
                                    <td>{{preguntas.rHumano.[16].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[16]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">18</td>
                                    <td>{{preguntas.rHumano.[17].txt}}</td>
                                    <td>{{sistema.gestion.rHumano.[17]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn color_gradient light text-white" style="border-color: #50368C;" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>