<div class="modal fade bd-example-modal-lg" id="modalDimProducto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="color: #000 !important">Análisis dimensión producto</h2>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Pregunta</th>
                            <th>Respuesta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td colspan="2" style="font-weight: 700;">El público objetivo</td></tr>
                        <tr>
                            <td scope="row">1</td>
                            <td>¿A cuál segmento del mercado va dirigido su producto: hombres, mujeres, pequeñas empresas, etc.?</td>
                            <td>{{dimProducto.publico_objetivo}}</td>
                        </tr>
            
                        <tr>
                            <td></td>
                            <td colspan="2" style="font-weight: 700;">Beneficios</td></tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>¿Qué Beneficios aporta su producto? Y ¿Qué necesidad de este público satisface?</td>
                            <td>{{dimProducto.beneficios}}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td colspan="2" style="font-weight: 700;">Tipo de producto</td></tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>¿Cuál es su tipo de producto específicamente?</td>
                            <td>{{dimProducto.tipo_producto}}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td colspan="2" style="font-weight: 700;">Nivel de precio</td></tr>
                        <tr>
                            <td scope="row">4</td>
                            <td>Explique ¿Cómo es el precio de su producto en relación al sector de mercado en el que se encuentra?</td>
                            <td>{{dimProducto.nivel_precio}}</td>
                        </tr>
                        <tr>
                            <td scope="row">5</td>
                            <td>¿Cuáles son los Productos y/o Servicios que más vende? </td>
                            <td>{{dimProducto.mas_vendidos}}</td>
                        </tr>
                        <tr>
                            <td scope="row">6</td>
                            <td>¿Cuál es la razón por la que considera que estos Productos que describió anteriormente se venden más?</td>
                            <td>{{dimProducto.razon_venta}}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td colspan="2" style="font-weight: 700;">Integración en la gama de productos</td></tr>
                        <tr>
                            <td scope="row">7</td>
                            <td>Explique ¿Qué coherencia tienen sus productos dentro de la empresa?</td>
                            <td>{{dimProducto.integracion_gama}}</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td colspan="2" style="font-weight: 700;">Calidad</td></tr>
                        <tr>
                            <td scope="row">8</td>
                            <td>¿Cómo es la calidad de su producto? Y ¿Qué tiene su producto para disponer de la calidad a que hace referencia?</td>
                            <td>{{dimProducto.calidad}}</td>
                        </tr>
                        <tr>
                            <td scope="row">9</td>
                            <td>¿Qué aceptación tiene su producto?</td>
                            <td>{{dimProducto.aceptacion}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            
            
            </div>

            <div class="modal-footer">
                <button type="button" class="btn color_gradient light text-white" style="border-color: #50368C;" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>