<div class="modal fade bd-example-modal-lg" id="modalDimOperaciones" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="color: #000 !important">Evaluación Empresarial Sistema Operacional</h2>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>

            <div class="modal-header">
                <ul class="nav nav-tabs" role="tablist" style="border-bottom: none;">
                    <li class=" nav-item">
                        <a href="#estrategica" class="nav-link active" data-toggle="tab" aria-expanded="false">Planeación Estratégica</a>
                    </li>
                    <li class="nav-item">
                        <a href="#operativos" class="nav-link" data-toggle="tab" aria-expanded="false">Procesos Operativos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#integracion" class="nav-link" data-toggle="tab" aria-expanded="true">Integración y Bienestar Laboral</a>
                    </li>
                    <li class=" nav-item">
                        <a href="#modelo_negocio" class="nav-link" data-toggle="tab" aria-expanded="false">Modelo de Negocio</a>
                    </li>
                </ul>
            </div>

            <div class="modal-body">

                <div class="tab-content">
                    
                    <div id="estrategica" class="tab-pane active">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Comprensión del Mercado</td>
                                </tr>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{preguntas.estrategica.[0].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[0]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>{{preguntas.estrategica.[1].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[1]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Claridad en la Misión y Visión</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>{{preguntas.estrategica.[2].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[2]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>{{preguntas.estrategica.[3].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[3]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">5</td>
                                    <td>{{preguntas.estrategica.[4].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[4]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Valores claros</td>
                                </tr>
                                <tr>
                                    <td scope="row">6</td>
                                    <td>{{preguntas.estrategica.[5].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[5]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Objetivos Definidos</td>
                                </tr>
                                <tr>
                                    <td scope="row">7</td>
                                    <td>{{preguntas.estrategica.[6].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[6]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Análisis FODA</td>
                                </tr>
                                <tr>
                                    <td scope="row">8</td>
                                    <td>{{preguntas.estrategica.[7].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[7]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">9</td>
                                    <td>{{preguntas.estrategica.[8].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[8]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Participación del Equipo</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>{{preguntas.estrategica.[9].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[9]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">11</td>
                                    <td>{{preguntas.estrategica.[10].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[10]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Evaluación de la Competencia</td>
                                </tr>
                                <tr>
                                    <td scope="row">12</td>
                                    <td>{{preguntas.estrategica.[11].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[11]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">13</td>
                                    <td>{{preguntas.estrategica.[12].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[12]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Comunicación Estratégica</td>
                                </tr>
                                <tr>
                                    <td scope="row">14</td>
                                    <td>{{preguntas.estrategica.[13].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[13]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">15</td>
                                    <td>{{preguntas.estrategica.[14].txt}}</td>
                                    <td>{{sistema.operacional.estrategica.[14]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="operativos" class="tab-pane">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Análisis y Mapeo de Procesos</td>
                                </tr>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{preguntas.operativos.[0].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[0]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>{{preguntas.operativos.[1].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[1]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Establecimiento de Objetivos Claros</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>{{preguntas.operativos.[2].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[2]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>{{preguntas.operativos.[3].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[3]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Eficiencia</td>
                                </tr>
                                <tr>
                                    <td scope="row">5</td>
                                    <td>{{preguntas.operativos.[4].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[4]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">6</td>
                                    <td>{{preguntas.operativos.[5].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[5]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Flexibilidad</td>
                                </tr>
                                <tr>
                                    <td scope="row">7</td>
                                    <td>{{preguntas.operativos.[6].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[6]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">8</td>
                                    <td>{{preguntas.operativos.[7].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[7]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Incorporación de Tecnología</td>
                                </tr>
                                <tr>
                                    <td scope="row">9</td>
                                    <td>{{preguntas.operativos.[8].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[8]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>{{preguntas.operativos.[9].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[9]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Revisión Regular</td>
                                </tr>
                                <tr>
                                    <td scope="row">11</td>
                                    <td>{{preguntas.operativos.[10].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[10]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">12</td>
                                    <td>{{preguntas.operativos.[11].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[11]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Actividades Clave (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">13</td>
                                    <td>{{preguntas.operativos.[12].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[12]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Gestión del Tiempo</td>
                                </tr>
                                <tr>
                                    <td scope="row">14</td>
                                    <td>{{preguntas.operativos.[13].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[13]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">15</td>
                                    <td>{{preguntas.operativos.[14].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[14]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Canales de Distribución (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">16</td>
                                    <td>{{preguntas.operativos.[15].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[15]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">17</td>
                                    <td>{{preguntas.operativos.[16].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[16]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">18</td>
                                    <td>{{preguntas.operativos.[17].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[17]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Alianzas Estratégicas (MN)</td>
                                </tr>
                                <tr>
                                    <td scope="row">19</td>
                                    <td>{{preguntas.operativos.[18].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[18]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">20</td>
                                    <td>{{preguntas.operativos.[19].txt}}</td>
                                    <td>{{sistema.operacional.operativos.[19]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="integracion" class="tab-pane">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Liderazgo Comprometido</td>
                                </tr>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{preguntas.integracion.[0].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[0]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Comunicación Abierta y Transparente</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>{{preguntas.integracion.[1].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[1]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Flexibilidad</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>{{preguntas.integracion.[2].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[2]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>{{preguntas.integracion.[3].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[3]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Espacio de Trabajo Adecuado</td>
                                </tr>
                                <tr>
                                    <td scope="row">5</td>
                                    <td>{{preguntas.integracion.[4].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[4]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">6</td>
                                    <td>{{preguntas.integracion.[5].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[5]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Actividades de Integración</td>
                                </tr>
                                <tr>
                                    <td scope="row">7</td>
                                    <td>{{preguntas.integracion.[6].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[6]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">8</td>
                                    <td>{{preguntas.integracion.[7].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[7]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Salud y Bienestar</td>
                                </tr>
                                <tr>
                                    <td scope="row">9</td>
                                    <td>{{preguntas.integracion.[8].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[8]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>{{preguntas.integracion.[9].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[9]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Participación activa</td>
                                </tr>
                                <tr>
                                    <td scope="row">11</td>
                                    <td>{{preguntas.integracion.[10].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[10]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">12</td>
                                    <td>{{preguntas.integracion.[11].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[11]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Entorno Laboral</td>
                                </tr>
                                <tr>
                                    <td scope="row">13</td>
                                    <td>{{preguntas.integracion.[12].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[12]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">14</td>
                                    <td>{{preguntas.integracion.[13].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[13]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Balance Vida-Trabajo</td>
                                </tr>
                                <tr>
                                    <td scope="row">15</td>
                                    <td>{{preguntas.integracion.[14].txt}}</td>
                                    <td>{{sistema.operacional.integracion.[14]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="modelo_negocio" class="tab-pane">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Competitividad en el Mercado</td>
                                </tr>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>{{preguntas.modelo_negocio.[0].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[0]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Propuesta de Valor</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>{{preguntas.modelo_negocio.[1].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[1]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>{{preguntas.modelo_negocio.[2].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[2]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Claridad y Dirección</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>{{preguntas.modelo_negocio.[3].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[3]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" class="text-black">Competitividad en el Mercado</td>
                                </tr>
                                 <tr>
                                    <td scope="row">5</td>
                                    <td>{{preguntas.modelo_negocio.[4].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[4]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Adaptabilidad y Flexibilidad</td>
                                </tr>
                                 <tr>
                                    <td scope="row">6</td>
                                    <td>{{preguntas.modelo_negocio.[5].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[5]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Optimización de Recursos</td>
                                </tr>
                                <tr>
                                    <td scope="row">7</td>
                                    <td>{{preguntas.modelo_negocio.[6].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[6]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">8</td>
                                    <td>{{preguntas.modelo_negocio.[7].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[7]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Retroalimentación de Clientes</td>
                                </tr>
                                <tr>
                                    <td scope="row">9</td>
                                    <td>{{preguntas.modelo_negocio.[8].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[8]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Evaluación Interna</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>{{preguntas.modelo_negocio.[9].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[9]}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">11</td>
                                    <td>{{preguntas.modelo_negocio.[10].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[10]}}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Monitoreo del Mercado</td>
                                </tr>
                                <tr>
                                    <td scope="row">12</td>
                                    <td>{{preguntas.modelo_negocio.[11].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[11]}}</td>
                                </tr>
                                
                                <tr>
                                    <td></td>
                                    <td colspan="2" style="font-weight: 500;">Visión a Futuro</td>
                                </tr>
                                <tr>
                                    <td scope="row">13</td>
                                    <td>{{preguntas.modelo_negocio.[12].txt}}</td>
                                    <td>{{sistema.operacional.modelo_negocio.[12]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn color_gradient light text-white" style="border-color: #50368C;" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>