<!DOCTYPE html>
<html>

<head>
	<title>Informe de {{tituloInforme}} - Enterprise 3C Sigma</title>
	<meta content="summary_large_image" name="twitter:card" />
	<meta content="website" property="og:type" />
	<meta content="" property="og:description" />
	<meta content="https://0hrxzbrvkh.preview-postedstuff.com/V2-7bpM-lDL2-xeVr-BP6s/" property="og:url" />
	<meta content="https://pro-bee-beepro-thumbnail.getbee.io/messages/783378/767126/1653208/9188516_large.jpg" property="og:image" />
	<meta content="" property="og:title" />
	<meta content="" name="description" />
	<meta charset="utf-8" />
	<meta content="width=device-width" name="viewport" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
	<style>
		.bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-row-2,
		.bee-row-3 {
			background-position: center top;
			background-repeat: no-repeat
		}

		.bee-row-1,
		.bee-row-1 .bee-row-content,
		.bee-row-2,
		.bee-row-3,
		.bee-row-4,
		.bee-row-5,
		.bee-row-6,
		.bee-row-7,
		.bee-row-7 .bee-row-content,
		.bee-row-8 {
			background-repeat: no-repeat
		}

		body {
			background-color: #f7f7f7;
			color: #000;
			font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif
		}

		.bee-row-6 .bee-col-1 .bee-block-3 a,
		a {
			color: #0068a5
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		p {
			margin: 0
		}

		.bee-row-content {
			max-width: 900px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content.reverse,
		.bee-row-content.reverse .bee-col {
			-moz-transform: scale(1, -1);
			-webkit-transform: scale(1, -1);
			-o-transform: scale(1, -1);
			-ms-transform: scale(1, -1);
			transform: scale(1, -1)
		}

		.bee-row-content .bee-col-w2 {
			flex-basis: 17%
		}

		.bee-row-content .bee-col-w3 {
			flex-basis: 25%
		}

		.bee-row-content .bee-col-w5 {
			flex-basis: 42%
		}

		.bee-row-content .bee-col-w7 {
			flex-basis: 58%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-button .content {
			text-align: center
		}

		.bee-button a,
		.bee-icon .bee-icon-label-right a {
			text-decoration: none
		}

		.bee-divider,
		.bee-image {
			overflow: auto
		}

		.bee-divider .center,
		.bee-image .bee-center {
			margin: 0 auto
		}

		.bee-image .bee-right {
			float: right
		}

		.bee-row-1 .bee-col-2 .bee-block-1,
		.bee-row-2 .bee-col-1 .bee-block-1 {
			width: 100%
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-content {
			display: flex;
			align-items: center
		}

		.bee-image img {
			display: block;
			width: 100%
		}

		.bee-paragraph,
		.bee-text {
			overflow-wrap: anywhere
		}

		@media (max-width:768px) {
			.bee-row-content:not(.no_stack) {
				display: block
			}
		}

		.bee-row-1,
		.bee-row-5 {
			background-color: #7f2a90
		}

		.bee-row-1 .bee-row-content,
		.bee-row-7 .bee-row-content {
			border-radius: 0;
			color: #000
		}

		.bee-row-1 .bee-col-1 {
			padding-bottom: 5px;
			padding-left: 20px;
			padding-top: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		@media (max-width:920px) {
			.bee-row-1 .bee-col-1 {
				padding: 10px 20px !important
			}
		}

		.bee-row-1 .bee-col-2,
		.bee-row-2 .bee-col-1,
		.bee-row-3 .bee-col-1,
		.bee-row-4 .bee-col-1,
		.bee-row-5 .bee-col-1,
		.bee-row-7 .bee-col-5,
		.bee-row-8 .bee-col-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 10px;
			text-align: center;
			width: 100%
		}

		.bee-row-1 .bee-col-1 .bee-block-2 {
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			width: 100%
		}

		.bee-row-1 .bee-col-1 .bee-block-3,
		.bee-row-3 .bee-col-1 .bee-block-5 {
			padding: 10px 10px 20px
		}

		.bee-row-1 .bee-col-2 {
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-2 {
			background-color: #f3f3f3
		}

		.bee-row-2 .bee-row-content,
		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content,
		.bee-row-5 .bee-row-content,
		.bee-row-6 .bee-row-content,
		.bee-row-8 .bee-row-content {
			background-repeat: no-repeat;
			color: #000
		}

		.bee-row-3 .bee-col-1 .bee-block-1,
		.bee-row-3 .bee-col-1 .bee-block-4,
		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-5 .bee-col-1 .bee-block-3,
		.bee-row-6 .bee-col-1 .bee-block-3 {
			padding: 10px
		}

		.bee-row-3 .bee-col-1 .bee-block-2 {
			padding-bottom: 15px;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			width: 100%
		}

		.bee-row-3 .bee-col-1 .bee-block-3 {
			padding: 10px 10px 10px 15px
		}

		.bee-row-5 .bee-col-1 .bee-block-1 {
			padding: 15px 10px 10px
		}

		.bee-row-5 .bee-col-1 .bee-block-2 {
			padding: 10px;
			text-align: center
		}

		.bee-row-6 {
			background-color: #f6f6f6
		}

		.bee-row-6 .bee-col-1 .bee-block-2 {
			padding: 10px;
			width: 100%
		}

		.bee-row-7 .bee-col-2 .bee-block-1,
		.bee-row-7 .bee-col-3 .bee-block-1,
		.bee-row-7 .bee-col-4 .bee-block-1 {
			padding-bottom: 10px;
			padding-top: 10px;
			width: 100%
		}

		.bee-row-8 .bee-col-1 .bee-block-1 {
			color: #9d9d9d;
			font-family: inherit;
			font-size: 15px;
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center
		}

		.bee-row-6 .bee-col-1 .bee-block-3 {
			color: #000;
			direction: ltr;
			font-family: "Source Sans Pro", Tahoma, Verdana, Segoe, sans-serif;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: center
		}

		.bee-row-6 .bee-col-1 .bee-block-3 p:not(:last-child) {
			margin-bottom: 16px
		}

		.bee-row-8 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px 6px 5px 5px
		}

		.bee-row-8 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
			margin-left: 0
		}

		.bee-row-8 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}
	</style>
</head>

<body>
	<div class="bee-page-container">
		<div class="bee-row bee-row-1">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w5">
					<div class="bee-block bee-block-1 bee-heading">
						<h1 style="color:#ffffff;direction:ltr;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;font-size:38px;font-weight:400;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;"><strong>Informe de {{tituloInforme}}</strong> </h1>
					</div>
					<div class="bee-block bee-block-2 bee-heading">
						<h1 style="color:#fed061;direction:ltr;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;font-size:56px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;"><span class="tinyMce-placeholder"><strong>{{tipoInforme}}</strong></span> </h1>
					</div>
					<div class="bee-block bee-block-3 bee-text">
						<div class="bee-text-content" style="font-size: 14px; line-height: 180%; font-family: 'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif; color: #f3f3f3;">
							<p style="font-size: 14px; line-height: 25px;"><span style="font-size: 15px; line-height: 27px;">Encuentra el reporte generado basado en las respuestas que nos proporcionaste a continuación</span></p>
						</div>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w7">
					<div class="bee-block bee-block-1 bee-image"><img alt="Decoracion Informe" class="bee-center bee-autowidth" src="https://consultant.paomsystem.com/public_files/images/object.01.png" style="max-width:525px;" /></div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-2">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-image"><img alt="Logo 3C Sigma Header" class="bee-center bee-fixedwidth" src="https://consultant.paomsystem.com/public_files/images/Logo%20Color.png" style="max-width:180px;" /></div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-3">
			<div class="bee-row-content reverse">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:20px;"></div>
					</div>
					<div class="bee-block bee-block-2 bee-heading">
						<h1 style="color:#010101;direction:ltr;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;font-size:20px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;"><span class="tinyMce-placeholder">{{empresa}}</span> </h1>
					</div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="left bee-separator" style="border-top:4px solid #FED061;width:25%;"></div>
					</div>
					<div class="bee-block bee-block-4 bee-divider">
						<div class="spacer" style="height:20px;"></div>
					</div>
					<div class="bee-block bee-block-5 bee-text">
						<div class="bee-text-content" style="font-size: 14px; line-height: 200%; font-family: 'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif; color: #393d47;">
							<p style="font-size: 14px; line-height: 28px; text-align: justify;"><span style="font-size: 15px; line-height: 30px;">{{{textoGPT}}}</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-4">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-divider">
						<div class="spacer" style="height:40px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-5">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-text">
						<div class="bee-text-content" style="font-size: 14px; line-height: 180%; font-family: 'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif; color: #ffffff;">
							<p style="font-size: 14px; line-height: 25px; text-align: center;"><span style="font-size: 20px; line-height: 36px;">Para guardar este informe haz clic en el botón de abajo</span></p>
						</div>
					</div>
					<div class="bee-block bee-block-2 bee-button"><a class="bee-button-content" onclick="window.print();" style="cursor: pointer; font-size: 16px; background-color: #fed061; border-bottom: 0px solid #D75655; border-left: 0px solid #D75655; border-radius: 3px; border-right: 0px solid #D75655; border-top: 0px solid #D75655; color: #000000; direction: ltr; font-family: 'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif; font-weight: 700; max-width: 100%; padding-bottom: 5px; padding-left: 60px; padding-right: 60px; padding-top: 5px; width: auto; display: inline-block;" target="_self"><span dir="ltr" style="word-break: break-word; font-size: 16px; line-height: 200%;">Guardar</span></a></div>
					<div class="bee-block bee-block-3 bee-divider">
						<div class="spacer" style="height:9px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-6">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-spacer">
						<div class="spacer" style="height:20px;"></div>
					</div>
					<div class="bee-block bee-block-2 bee-image"><img alt="Logo 3C Sigma" class="bee-center bee-fixedwidth" src="https://3csigma.com/app_public_files/img/Logo.png" style="max-width:108px;" /></div>
					<div class="bee-block bee-block-3 bee-paragraph">
						<p><strong>¿Tienes dudas?</strong> Escríbenos a <a href="mailto:hello@3csigma.com" rel="noopener" style="text-decoration: none;" target="_blank" title="hello@3csigma.com">hello@3csigma.com</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-7">
			<div class="bee-row-content no_stack">
				<div class="bee-col bee-col-1 bee-col-w3">
					<div class="bee-block bee-block-1 bee-spacer">
						<div class="spacer" style="height:1px;"></div>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w2">
					<div class="bee-block bee-block-1 bee-image"><a href="https://facebook.com/carlosjramirezp" target="_self"><img alt="Facebook 3C Sigma" class="bee-right bee-fixedwidth" src="https://3csigma.com/app_public_files/img/facebook2x.png" style="max-width:28px;" /></a></div>
				</div>
				<div class="bee-col bee-col-3 bee-col-w2">
					<div class="bee-block bee-block-1 bee-image"><a href="https://instagram.com/carlosjramirezp" target="_self"><img alt="Instagram 3C Sigma" class="bee-center bee-fixedwidth" src="https://3csigma.com/app_public_files/img/instagram2x.png" style="max-width:28px;" /></a></div>
				</div>
				<div class="bee-col bee-col-4 bee-col-w2">
					<div class="bee-block bee-block-1 bee-image"><a href="https://3csigma.com" target="_self"><img alt="Pagina web 3C Sigma" class="bee-fixedwidth" src="https://3csigma.com/app_public_files/img/Pagina-web.png" style="max-width:28px;" /></a></div>
				</div>
				<div class="bee-col bee-col-5 bee-col-w3">
					<div class="bee-block bee-block-1 bee-spacer">
						<div class="spacer" style="height:1px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bee-row bee-row-8">
			<div class="bee-row-content">
				<div class="bee-col bee-col-1 bee-col-w12">
					<div class="bee-block bee-block-1 bee-icons" id="beepro-locked-footer">
						<div class="bee-icon bee-icon-last">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>