<style>
    a.nav-link.btnIndicadoresAll {
        background: #f2f2f2;
        border-radius: 22px;
        color: #fff;
        text-align: center;
    }

    a.nav-link.btnIndicadoresAll.active {
        background: linear-gradient(189.55deg, #FED061 -131.52%, #812082 -11.9%, #50368C 129.46%) !important;
        color: white !important;
        border-radius: 22px;
    }

    .nav-link.btnIndicadoresAll:focus,
    .nav-link.btnIndicadoresAll:hover {
        background-color: #f2f2f2 !important;
        border-color: #50368c;
        border-radius: 22px !important;
        color: #50368c;
        border-width: 0 0px 3px 0;
    }
    .apexcharts-text tspan {
        font-family: 'Oblivian Text' !important;
    }
    #icon_avance_general {
        fill: url(#my-cool-gradient) #447799;
    }
</style>
<!--**********************************
        Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            {{!-- Cuadros principales sobre las etapas --}}
            <div class="col-xl-6 col-xxl-12">
                <div class="row">

                    {{!-- Diagnóstico de negocio --}}
                    <div class="col-sm-6">
                        <div class="card avtivity-card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <span class="activity-icon mr-md-4 mr-3">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M33.9666 14.2834L31.9166 17.3667C32.9052 19.3385 33.3892 21.5248 33.3253 23.7296C33.2613 25.9344 32.6513 28.0889 31.55 30H8.44996C7.01857 27.5169 6.42545 24.6386 6.75853 21.7918C7.0916 18.9451 8.33314 16.2814 10.2991 14.1958C12.265 12.1101 14.8507 10.7134 17.6729 10.2129C20.495 9.71229 23.4033 10.1344 25.9666 11.4167L29.05 9.36671C25.9108 7.35373 22.1872 6.45171 18.4748 6.80493C14.7624 7.15815 11.2757 8.7462 8.57245 11.3151C5.8692 13.8839 4.10556 17.2852 3.56366 20.9747C3.02175 24.6643 3.73288 28.429 5.58329 31.6667C5.87415 32.1705 6.29178 32.5894 6.79468 32.8818C7.29758 33.1742 7.86825 33.3299 8.44996 33.3334H31.5333C32.1207 33.3357 32.6982 33.1828 33.2075 32.8901C33.7167 32.5974 34.1396 32.1754 34.4333 31.6667C35.9689 29.0066 36.7396 25.9738 36.6602 22.9033C36.5807 19.8328 35.6544 16.8439 33.9833 14.2667L33.9666 14.2834ZM17.65 25.6834C17.9595 25.9933 18.3272 26.2392 18.7318 26.4069C19.1365 26.5746 19.5702 26.661 20.0083 26.661C20.4463 26.661 20.8801 26.5746 21.2848 26.4069C21.6894 26.2392 22.057 25.9933 22.3666 25.6834L31.8 11.5334L17.65 20.9667C17.34 21.2763 17.0942 21.6439 16.9264 22.0486C16.7587 22.4532 16.6723 22.887 16.6723 23.325C16.6723 23.7631 16.7587 24.1968 16.9264 24.6015C17.0942 25.0062 17.34 25.3738 17.65 25.6834V25.6834Z"
                                                fill="#FED061" />
                                        </svg>
                                    </span>
                                    <div class="media-body">
                                        <p class="fs-14 mb-2">Diagnóstico de negocio</p>
                                        <span class="title text-black font-w600">{{porcentajeEtapa1}}%</span>
                                    </div>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar color_tertiary"
                                        style="width:{{#if porcentajeEtapa1}}{{porcentajeEtapa1}}{{else}}5{{/if}}%;
                                        height:5px;" role="progressbar">
                                        <span class="sr-only">{{porcentajeEtapa1}}% Completado</span>
                                    </div>
                                </div>
                            </div>
                            <div class="effect color_tertiary"></div>
                        </div>
                    </div>
                    {{!-- Análisis de negocio --}}
                    {{#if etapaCompleta.verAnalisis}}
                    <div class="col-sm-6">
                        <div class="card avtivity-card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <span class="activity-icon mr-md-4 mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="40"
                                            height="37" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                                            <path fill="#A02CFA"
                                                d="m505.04 442.66l-99.71-99.69c-4.5-4.5-10.6-7-17-7h-16.3c27.6-35.3 44-79.69 44-127.99C416.03 93.09 322.92 0 208.02 0S0 93.09 0 207.98s93.11 207.98 208.02 207.98c48.3 0 92.71-16.4 128.01-44v16.3c0 6.4 2.5 12.5 7 17l99.71 99.69c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.59.1-33.99zm-297.02-90.7c-79.54 0-144-64.34-144-143.98c0-79.53 64.35-143.98 144-143.98c79.54 0 144 64.34 144 143.98c0 79.53-64.35 143.98-144 143.98zm27.11-152.54l-45.01-13.5c-5.16-1.55-8.77-6.78-8.77-12.73c0-7.27 5.3-13.19 11.8-13.19h28.11c4.56 0 8.96 1.29 12.82 3.72c3.24 2.03 7.36 1.91 10.13-.73l11.75-11.21c3.53-3.37 3.33-9.21-.57-12.14c-9.1-6.83-20.08-10.77-31.37-11.35V112c0-4.42-3.58-8-8-8h-16c-4.42 0-8 3.58-8 8v16.12c-23.63.63-42.68 20.55-42.68 45.07c0 19.97 12.99 37.81 31.58 43.39l45.01 13.5c5.16 1.55 8.77 6.78 8.77 12.73c0 7.27-5.3 13.19-11.8 13.19h-28.1c-4.56 0-8.96-1.29-12.82-3.72c-3.24-2.03-7.36-1.91-10.13.73l-11.75 11.21c-3.53 3.37-3.33 9.21.57 12.14c9.1 6.83 20.08 10.77 31.37 11.35V304c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-16.12c23.63-.63 42.68-20.54 42.68-45.07c0-19.97-12.99-37.81-31.59-43.39z" />
                                        </svg>
                                    </span>
                                    <div class="media-body">
                                        <p class="fs-14 mb-2">Análisis de negocio</p>
                                        <span class="title text-black font-w600">{{porcentajeEtapa2}}%</span>
                                    </div>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar bg-secondary"
                                        style="width:{{#if porcentajeEtapa2}}{{porcentajeEtapa2}}{{else}}5{{/if}}%; 
                                        height:5px;" role="progressbar">
                                        <span class="sr-only">{{porcentajeEtapa2}}% Completado</span>
                                    </div>
                                </div>
                            </div>
                            <div class="effect bg-secondary"></div>
                        </div>
                    </div>
                    {{/if}}
                    
                    {{!-- Plan estratégico de negocio --}}
                    <div class="col-sm-6">
                        <div class="card avtivity-card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <span class="activity-icon mr-md-4 mr-3">
                                        <svg width="40" height="37" viewBox="0 0 40 37" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 35.0002C15 35.9168 15.75 36.6668 16.6667 36.6668H23.3334C24.25 36.6668 25 35.9168 25 35.0002V33.3335H15V35.0002ZM20 3.3335C13.5667 3.3335 8.33337 8.56683 8.33337 15.0002C8.33337 18.9668 10.3167 22.4502 13.3334 24.5668V28.3335C13.3334 29.2502 14.0834 30.0002 15 30.0002H25C25.9167 30.0002 26.6667 29.2502 26.6667 28.3335V24.5668C29.6834 22.4502 31.6667 18.9668 31.6667 15.0002C31.6667 8.56683 26.4334 3.3335 20 3.3335ZM23.3334 22.8335V26.6668H16.6667V22.8335C14.1334 21.0502 11.6667 19.2168 11.6667 15.0002C11.6667 10.4002 15.4 6.66683 20 6.66683C24.6 6.66683 28.3334 10.4002 28.3334 15.0002C28.3334 19.1502 25.8167 21.0835 23.3334 22.8335Z"
                                                fill="#50368C" />
                                        </svg>

                                    </span>
                                    <div class="media-body">
                                        <p class="fs-14 mb-2">Plan estratégico</p>
                                        <span class="title text-black font-w600">{{porcentajeEtapa4}}%</span>
                                    </div>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar bg-estrategico" style="width:{{#if porcentajeEtapa4}}{{porcentajeEtapa4}}{{else}}5{{/if}}%; 
                                        height:5px;" role="progressbar">
                                        <span class="sr-only">{{porcentajeEtapa4}}% Completado</span>
                                    </div>
                                </div>
                            </div>
                            <div class="effect bg-estrategico"></div>
                        </div>
                    </div>

                    {{!-- PLAN EMPRESARIAL --}}
                    <div class="col-sm">
                        <div class="card avtivity-card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <span class="activity-icon mr-md-4 mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="37" viewBox="0 0 640 512"><path fill="#6C2986" d="M192 0H48C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H162.7c6.6-18.6 24.4-32 45.3-32V272c0-44.2 35.8-80 80-80h32V128H224c-17.7 0-32-14.3-32-32V0zm96 224c-26.5 0-48 21.5-48 48v16 96 32H208c-8.8 0-16 7.2-16 16v16c0 35.3 28.7 64 64 64H576c35.3 0 64-28.7 64-64V432c0-8.8-7.2-16-16-16H592V288c0-35.3-28.7-64-64-64H320 304 288zm32 64H528V416H304V288h16zM224 0V96h96L224 0z"/></svg>
                                    </span>
                                    <div class="media-body">
                                        <p class="fs-14 mb-2">Plan empresarial</p>
                                        <span class="title text-black font-w600">{{porcentajeEtapa3}}%</span>
                                    </div>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar bg-empresarial" style="width:{{#if porcentajeEtapa3}}{{porcentajeEtapa3}}{{else}}5{{/if}}%; 
                                        height:5px;" role="progressbar">
                                        <span class="sr-only">{{porcentajeEtapa3}}% Completado</span>
                                    </div>
                                </div>
                            </div>
                            <div class="effect bg-empresarial"></div>
                        </div>
                    </div>

                </div>

                {{!-- PORCENTAJE AVANCE GENERAL DE LA EMPRESA --}}
                <div class="row">
                    <div class="col-sm">
                        <div class="card avtivity-card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <span class="activity-icon bgl-plan mr-md-4 mr-3">
                                        <svg width="40" height="37" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" focusable="false">
                                        <linearGradient id="my-cool-gradient" x2="1" y2="-0.4">
                                            <stop offset="0%" stop-color=" rgba(80,54,140,1" />
                                            <stop offset="50%" stop-color=" rgba(129,32,130,1)" />
                                            <stop offset="100%" stop-color=" rgba(254,208,97,1)" />
                                        </linearGradient>
                                            <path id="icon_avance_general"
                                                d="M219.3 .5c3.1-.6 6.3-.6 9.4 0l200 40C439.9 42.7 448 52.6 448 64s-8.1 21.3-19.3 23.5L352 102.9V160c0 70.7-57.3 128-128 128s-128-57.3-128-128V102.9L48 93.3v65.1l15.7 78.4c.9 4.7-.3 9.6-3.3 13.3s-7.6 5.9-12.4 5.9H16c-4.8 0-9.3-2.1-12.4-5.9s-4.3-8.6-3.3-13.3L16 158.4V86.6C6.5 83.3 0 74.3 0 64C0 52.6 8.1 42.7 19.3 40.5l200-40zM129.1 323.2l83.2 88.4c6.3 6.7 17 6.7 23.3 0l83.2-88.4c73.7 14.9 129.1 80 129.1 158.1c0 17-13.8 30.7-30.7 30.7H30.7C13.8 512 0 498.2 0 481.3c0-78.1 55.5-143.2 129.1-158.1z"
                                                />
                                        </svg>
                                    </span>
                                    <div class="media-body">
                                        <p class="fs-14 mb-2">Avance general</p>
                                        <span class="title text-black font-w600">{{porcentajeTotal}}%</span>
                                    </div>
                                </div>
                                <div class="progress" style="height:5px;">
                                    <div class="progress-bar bg-plan card_gradient" style="width:{{#if porcentajeTotal}}{{porcentajeTotal}}{{else}}5{{/if}}%; height:5px;" role="progressbar">
                                    </div>
                                </div>
                            </div>
                            <div class="effect bg-plan card_gradient"></div>
                        </div>
                    </div>
                </div>

                {{!-- Fin de Cuadros principales --}}
            </div>

            {{!-- Grafíco de indicadores --}}
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header" style="margin: 0 auto; border-color: transparent">
                        <h4 class="card-title" id="titu-indicador">Indicadores</h4>
                    </div>
                    {{!-- Grafíco de indicadores --}}
                
                    <!-- PESTAÑAS DE LAS GRÁFICAS -->
                    <div class="profile-tab mb-2">
                        <div class="custom-tab-1">
                            <ul class="nav nav-pills justify-content-center mb-4">
                                <li class="nav-item"><a href="#vitales" data-toggle="tab"
                                        class="nav-link active show btnIndicadoresAll" style="width: 168.83px;">Áreas
                                        Vitales</a>
                                </li>
                                <li class="nav-item"><a href="#dimensiones" data-toggle="tab" style="margin: 0" class="nav-link btnIndicadoresAll">Por
                                        dimensiones</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./ Fin de pestañas -->
                
                    <div class="tab-content">

                        <div id="vitales" class="tab-pane fade active show">
                            <div class="card-body">
                                <canvas id="chartEmpresa1"></canvas>
                            </div>
                            
                            {{#if rendimiento.op}}
                            <div class="row justify-content-center mb-3">
                                <span style="padding-top: 6px; padding-right: 8px;">Rendimiento Operativo del Negocio: <strong>{{rendimiento.op}}% </strong></span>
                            </div>
                            {{/if}}

                        </div>

                        <div id="dimensiones" class="tab-pane fade">
                            <div class="card-body">
                                <canvas id="chartEmpresa2"></canvas>
                            </div>
                        
                            {{#if rendimiento.num}}
                            <div class="row justify-content-center mb-3">
                                <span style="padding-top: 6px; padding-right: 8px;font-weight: 800;">Rendimento del proyecto:
                                    {{rendimiento.num}}% </span>
                                <span class="badge light {{rendimiento.color}}">{{rendimiento.txt}}</span>
                            </div>
                            {{/if}}
                        </div>

                    </div>

                    <input type="hidden" id="jsonAnalisis1" value="{{jsonAnalisis1}}" />
                    <input type="hidden" id="jsonAnalisis2" value="{{jsonAnalisis2}}" />
                    <input type="hidden" id="jsonDimensiones1" value="{{jsonDimensiones1}}" />
                    <input type="hidden" id="jsonDimensiones2" value="{{jsonDimensiones2}}" />
                    <input type="hidden" id="nuevosProyectos" value="{{nuevosProyectos}}" />
                </div>
            </div>

            <div class="col-xl-12 col-xxl-12">
                {{#if verGraficasCircular}}
                {{> user/graficasCircular}}
                {{/if}}
            </div>

            {{!-- Últimas 2 tareas asignadas --}}
            <div class="col-xl-6 col-xxl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Últimas tareas asignadas</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md text-center">
                                        <thead>
                                            <tr>
                                                <th>FECHA</th>
                                                <th>NOMBRE</th>
                                                <th>DIMENSIÓN</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#if tareas}}
                                            {{#each tareas}}
                                            <tr>
                                                <td>{{fecha_entrega}}</td>
                                                <td>{{actividad}}</td>
                                                <td>{{dimension}}</td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="5">Aún no hay tareas asignadas.</td>
                                            </tr>
                                            {{/if}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Últimos informes generados --}}
            <div class="col-xl-6 col-xxl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Últimas informes generados</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md text-center">
                                        <thead>
                                            <tr>
                                                <th>FECHA</th>
                                                <th>ETAPA</th>
                                                <th>NOMBRE</th>
                                                <th>ACCIÓN</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#if ultimosInformes}}
                                            {{#each ultimosInformes}}
                                            <tr>
                                                <td>{{fecha}}</td>
                                                <td>{{etapa}} de negocio</td>
                                                <td>{{nombre}}</td>
                                                <td>
                                                    <a href="{{url}}"
                                                        style="margin: 0 auto; margin-top: -8px;color: white; background: #FED061; border-color: #FED061"
                                                        target="_blank" class="btn btn-info shadow btn-xs sharp">
                                                        <i class="fa fa-search"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="4">Aún no hay informes generados.</td>
                                            </tr>
                                            {{/if}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<!--**********************************
        Content body end
***********************************-->

</div> <!-- Fin del Main Wrapper - Inicia en el Partial Navigation -->
<!--**********************************
            Scripts
***********************************-->
{{!-- Mensajes de Sweet Alert --}}
{{#if pagoPendiente}}
<input type="hidden" id="diagnosticoPagado" value="{{diagnosticoPagado}}">
<input type="hidden" id="tokenForm" value="{{csrfToken}}">
{{/if}}




<!-- ****************** Required JS - DASHBOARD ****************** -->
<script src="../vendor/js/Chart.bundle.min.js"></script>
<script src="../vendor/js/owl.carousel.js"></script>
<!-- Chart piety plugin files -->
<script src="../vendor/js/jquery.peity.min.js"></script>
<script src="../js/jquery.js"></script>

{{#if jsonDim_empresa}}
<input type="hidden" id="jsonDim_empresa" value="{{jsonDim_empresa}}">
{{> user/pieCharts}}
{{/if}}

{{!-- Scripts Stripe --}}
{{#if stripe}}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{{/if}}