<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card avtivity-card"
          style="background: transparent !important;border: none !important; box-shadow: none !important">
          <div class="card-body">
            <h2 style="color: #000; font-weight: bold;">Queremos conocerte un poco más</h2>
            <p style="text-align: justify;margin-top: 2em;color: #000">Por favor completa el formulario a continuación para tener información mas detallada sobre tu empresa, estos datos son vitales para realizar un diagnóstico preciso. </br> Si deseas modificar, agregar datos o rehacer el formulario puedes hacerlo.<br> Una vez finalices con la ficha de cliente, podrás iniciar el diagnostico de tu empresa. Con base en las respuestas proporcionadas , nuesto sistema generará un informe especifico para ti.</p>
          </div>
        </div>
      </div>
    </div>
    {{!-- Fin de la 1era fila --}}

    {{!-- FORMULARIOS  (Ficha de Cliente & Cuestionario de Diagnóstico) --}}
    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Formularios</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>FECHA</th>
                        <th>NOMBRE</th>
                        <th>ESTADO</th>
                        <th>ACCIÓN</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{!-- FICHA CLIENTE --}}
                      <tr>
                        <td id="fActual">{{cuestionario.fichaCliente.fecha}}</td>
                        <td>Ficha de cliente</td>
                        <td><span class="badge light {{cuestionario.fichaCliente.color}}"
                            style="background: {{cuestionario.fichaCliente.estilo}}">{{cuestionario.fichaCliente.texto}}</span>
                        </td>
                        <td>
                          <div class="d-flex justify-content-center items-align-center">
                            <a href="/ficha-cliente/{{cuestionario.fichaCliente.usuario}}"
                              class="btn color_gradient shadow btn-xs sharp mr-1 text-white">
                              <i class="fa fa-pencil"></i></a>
                            <a onclick="eliminarFichaCliente({{cuestionario.fichaCliente.id}})"
                              class="btn btn-danger shadow btn-xs sharp text-white"><i class="fa fa-trash"></i></a>
                          </div>
                        </td>
                      </tr>
    
                      <!-- CUESTIONARIO EMPRESA ESTABLECIDA o NUEVA -->
                      {{#if cuestionario.diagnostico}}
                      <tr>
                        <td>{{#if cuestionario.diagnostico.fecha}}{{cuestionario.diagnostico.fecha}}{{else}}N/A{{/if}}</td>
                        <td>Cuestionario diagnóstico</td>
                        <td><span
                            class="badge light {{cuestionario.diagnostico.color}}">{{cuestionario.diagnostico.texto}}</span>
                        </td>
                        <td>
                          {{#if cuestionario.diagnostico.btnEdit}}
                          {{#if cuestionario.operacion.btnDisabled}}
                            <a class="btn color_gradient shadow btn-xs sharp mr-1 text-white"
                            style="filter: grayscale(1);">
                            <i class="fa fa-pencil"></i></a>
                            {{else}}
                            <a href="{{cuestionario.diagnostico.link}}"
                              class="btn color_gradient shadow btn-xs sharp mr-1 text-white" style="border-color: #812082;">
                              <i class="fa fa-pencil"></i></a>
                            {{/if}}
                          {{else}}
                          <div class="d-flex justify-content-center align-items-center">
                            <button type="button" data-toggle="modal" data-target="{{cuestionario.diagnostico.modal}}"
                              class="btn color_tertiary shadow btn-xs sharp mr-1 text-white">
                              <i class="fa fa-search"></i>
                            </button>
                            <a href="/generar-informe/Diagnóstico" target="_blank"
                              class="btn color_tertiary shadow btn-xs sharp mr-1 text-white">
                              <i class="fa fa-eye"></i>
                            </a>
                          </div>
                          {{/if}}
                        </td>
                      </tr>
                      {{/if}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- MODAL RESPUESTAS DEL CUESTIONARIO DIAGNÓSTICO -->
{{#if cuestionario.diagnostico}}
{{> modals/cuestionario}}
{{else}}
{{> modals/nuevosProyectos}}
{{/if}}

<!--**********************************
            Scripts
***********************************-->
<script>
  {{#unless tutoriales.etapa}}
  // POPUP CON TUTORIAL
  document.addEventListener("DOMContentLoaded", () => {
    Swal.fire({
      title: '<strong>TUTORIAL <u>example</u></strong>',
      icon: 'info',
      html: 'You can use <b>bold text</b>, ' +
          '<a href="//sweetalert2.github.io">links</a> ' +
          'and other HTML tags',
      showCloseButton: true,
      showCancelButton: true,
      focusConfirm: false,
      confirmButtonText: '<i class="fa fa-thumbs-up"></i> Great!',
      confirmButtonAriaLabel: 'Thumbs up, great!',
      cancelButtonText: '<i class="fa fa-thumbs-down"></i>',
      cancelButtonAriaLabel: 'Thumbs down'
    })
  });
  {{/unless}}
  
  {{#if cuestionario.fichaCliente.fechaLocal}}
  const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;
  console.log(tzLocal);
  const fechaCliente = new Date().toLocaleString("en-US", {timeZone: tzLocal})
  document.getElementById("fActual").innerHTML = fechaCliente
  {{/if}}

  function eliminarFichaCliente(id) {
    Swal.fire({
      title: '¿Deseas restablecer el formulario?',
      text: "Todas tus respuestas se eliminarán.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#50368C',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: '¡Sí, restablecer!'
    }).then((result) => {
      if (result.isConfirmed) {
        fetch('/eliminarFicha', {
          method: 'POST',
          body: JSON.stringify({id}),
          headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
          .catch(error => console.error('Error:', error))
          .then(response => {
            if (response) {
              location.reload();
            } else {
              Swal.fire(
                'Error!',
                'El formulario no ha sido llenado.',
                'error'
              )
            }
          });
          
      }
    })
  }

</script>