<!--**********************************
          Content body start
***********************************-->
<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card avtivity-card"
          style="background: transparent !important;border: none !important; box-shadow: none !important">
          <div class="card-body">
            <h2 style="color: #000; font-weight: bold;">Queremos conocerte un poco más</h2>
            {{#if existencia}}
            <p style="text-align: justify;margin-top: 2em;color: #000">Ahora que tu consultor ha sido asignado puedes realizar el pago del diagnóstico de negocio, y podremos comenzar juntos el proceso de llevar tu empresa al siguiente nivel.</p>
            {{else}}
            <p style="text-align: justify;margin-top: 2em;color: #000">Por favor completa el formulario a continuación para tener información mas detallada sobre tu empresa, estos datos son vitales para realizar un diagnóstico preciso. Si deseas modificar, agregar datos o rehacer el formulario puedes hacerlo.</p>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card avtivity-card"
          style="background: transparent !important;border: none !important; box-shadow: none !important">
          {{#if formDiag.estado}}
          <div class="card-body">
            <h2 style="color: #000; font-weight: bold;">Hemos recibido la información de tu empresa</h2>
            <p style="text-align: justify;margin-top: 2em;color: #000">Con base en tus respuestas tu consultor realizará un diagnóstico preciso acerca de tu empresa, y agendará una reunión contigo para continuar el proceso, recibiriás una notificación de esto en tu correo electrónico <strong>{{user.email}}</strong>.</p>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- Fin de la 1era fila --}}

    {{!-- TARJETA DE PAGO DIAGNÓSTICO --}}
    <div class="col-xl-6 col-xxl-6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Pago</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>FECHA PAGO</th>
                      <th>VALOR</th>
                      <th>ESTADO DE PAGO</th>
                      <th>PAGAR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{estadoPago.fecha}}</td>
                      <td class="precios_celdas">{{costo}}</td>
                      <td><span class="badge light {{estadoPago.color}}"
                          style="background: {{formDiag.estilo}}">{{estadoPago.texto}}</span></td>
                      <td>
                        {{#if existencia}}
                        <form action="/pagar-diagnostico" method="POST">
                            <button type="submit" class="btn btn-xs sharp" title="{{estadoPago.texto}}" style="{{estadoPago.btn}}">
                              <i class="fa fa-usd"></i>
                            </button>
                        </form>
                        {{else}}
                        <button type="submit" class="btn btn-xs sharp" title="{{estadoPago.texto}}" style="{{estadoPago.btn}}">
                          <i class="fa fa-usd"></i>
                        </button>
                        {{/if}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#unless existencia}}
    {{!-- TARJETAS FORMULARIOS E INFORMES --}}
    <div class="row">
      {{!-- FORMULARIOS --}}
      <div class="col-xl-6 col-xxl-6">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Formulario</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>FECHA MODIFICACIÓN</th>
                        <th>NOMBRE</th>
                        <th>ESTADO</th>
                        <th>ACCIÓN</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="fActual">{{formDiag.fecha}}</td>
                        <td>Ficha de cliente</td>
                        <td><span class="badge light {{formDiag.color}}"
                            style="background: {{formDiag.estilo}}">{{formDiag.texto}}</span></td>
                        <td>
                          <div class="d-flex">
                            <a href="/ficha-cliente/{{formDiag.usuario}}"
                              class="btn color_gradient shadow btn-xs sharp mr-1 text-white">
                              <i class="fa fa-pencil"></i></a>
                            <a onclick="eliminarFichaCliente({{formDiag.id}})"
                              class="btn btn-danger shadow btn-xs sharp text-white"><i
                                class="fa fa-trash"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- Informes generados --}}
      <div class="col-xl-6 col-xxl-6">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Informes generados</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>FECHA</th>
                        <th>ETAPA</th>
                        <th>NOMBRE</th>
                        <th>ACCIÓN</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#if informe.fecha}}
                      <tr>
                        <td>{{informe.fecha}}</td>
                        <td>Diagnóstico de negocio</td>
                        <td>{{informe.nombre}}</td>
                        <td>
                          <a href="{{informe.url}}"
                            style="margin: 0 auto; margin-top: -8px; border-color: #FED061"
                            target="_blank" class="btn color_tertiary shadow btn-xs sharp text-white">
                            <i class="fa fa-search"></i></a>
                        </td>
                      </tr>
                      {{else}}
                      <tr>
                        <td colspan="4">Aún no hay informes generados.</td>
                      </tr>
                      {{/if}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/unless}}
  </div>
</div>

<!--**********************************
            Scripts
***********************************-->
<script>
  {{#if formDiag.fechaLocal}}
  const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;
  console.log(tzLocal);
  const fechaCliente = new Date().toLocaleString("en-US", {timeZone: tzLocal})
  document.getElementById("fActual").innerHTML = fechaCliente
  {{/if}}

  function eliminarFichaCliente(id) {
    Swal.fire({
      title: '¿Deseas restablecer el formulario?',
      text: "Todas tus respuestas se eliminarán.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#50368C',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: '¡Sí, restablecer!'
    }).then((result) => {
      if (result.isConfirmed) {
        fetch('/eliminarFicha', {
          method: 'POST',
          body: JSON.stringify({id}),
          headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
          .catch(error => console.error('Error:', error))
          .then(response => {
            if (response) {
              location.reload();
            } else {
              Swal.fire(
                'Error!',
                'El formulario no ha sido llenado.',
                'error'
              )
            }
          });
          
      }
    })
  }
</script>