<div id="preloader">
	<div data-loader="circle-side"></div>
</div><!-- /Preload -->

<div id="loader_form">
	<div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<style>
	.duet-date__input {
		height: 44px;
		border: 1px solid #ddd;
		color: #000;
		font-weight: 500;
		font-size: 14px;
		cursor: no-drop;
	}

	.close {
		position: absolute;
		right: 32px;
		top: 32px;
		width: 45px;
		height: 45px;
		opacity: 0.5;
		border-radius: 30px;
		background-color: #ccc;
	}

	.close:hover {
		opacity: 1;
	}

	.close:before,
	.close:after {
		position: absolute;
		top: 10.5px;
		left: 22px;
		content: ' ';
		height: 24px;
		width: 2px;
		background-color: #000;
	}

	.close:before {
		transform: rotate(45deg);
	}

	.close:after {
		transform: rotate(-45deg);
	}

	.chosen-container-single .chosen-single {
		height: 43px !important;
		padding-top: 7px;
	}

	.input-group-prepend {
		height: 45px;
	}

	.fl-wrap.fl-wrap-input {
		width: 100%;
	}
	.chosen-container .chosen-results li.highlighted {
		background-color: #F4F5F9;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#f4f5f9),color-stop(90%,#f4f5f9));
		background-image: #F4F5F9 !important;
		color: #000;
	}
	.input-group-text {
    	padding: 0 32px;
	}
	.form-control {
		color: #495057;
	}
</style>

<div class="container-fluid">
	<div class="row row-height">
		<div class="col-xl-4 col-lg-4 color_secondary">
			<div class="content-left-wrapper">
				<a href="#" id="logo"><img src="./img/white-logo.svg" alt="Logo 3CSigma" width="75" height="75"></a>
				<div id="social">
					<ul>
						<li><a href="https://facebook.com/carlosjramirezp" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://instagram.com/carlosjramirezp" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="mailto:hello@3csigma.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/carlosjramirezp/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://youtube.com/@carlosjramirezp" target="_blank"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
				<!-- /social -->
				<div>
					<figure><img src="./img/info_graphic_1.svg" alt="" class="img-fluid" width="270" height="270">
					</figure>
					<h2>Ficha Cliente</h2>
					<p>Permítenos conocer el estado actual de tu empresa, encontraremos los puntos a mejorar y empezaremos juntos el proceso de crecimiento corporativo.</p>
					<a href="https://wa.me/+17868461158" target="_blank" class="btn_1 rounded yellow my-auto">
						<i class="fab fa-whatsapp" style="font-size:19px"></i> ¿Tienes dudas?
					</a>
					{{!-- <a href="#start" class="btn_1 rounded mobile_btn yellow">xxxxxxx</a> --}}
				</div>
				<div class="copy">© {{actualYear}} 3C Sigma</div>
			</div>
			<!-- /content-left-wrapper -->
		</div>
		<!-- /content-left -->

		<div class="col-xl-8 col-lg-8 content-right" id="start">
			<div id="wizard_container">
				<div id="top-wizard">
					<span id="location"></span>
					<div id="progressbar"></div>
				</div>
				<!-- /top-wizard -->
				<form id="wrapped" method="POST">
					<input id="website" name="website" type="text" value="">
					<!-- Leave for security protection, read docs for details -->
					<div id="middle-wizard">
						<!-- Paso 1 DATOS PERSONALES -->
						<div class="step">
							<h2 class="section_title">DATOS PERSONALES</h2>

							<div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">
								<div class="form-group col-md-6 ">
									<label for="name">Nombres</label>
									<input type="text" name="nombres" id="nombres" value="{{empresa.nombres}}"
										class="form-control campoLetras required">
								</div>
								<div class="form-group col-md-6">
									<label for="apellido">Apellido</label>
									<input type="text" name="apellidos" id="apellidos" value="{{empresa.apellidos}}"
										class="form-control campoLetras required"
										onchange="getVals(this, 'apellido_field');">
								</div>

								<div class="form-group col-md-12 ">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" value="{{empresa.email}}"
										class="form-control required" style="line-height:3;"
										onchange="getVals(this, 'email_field');">
								</div>

								<div class="form-group col-md-6">
									{{> general/countryCodes}}
								</div>
								<div class="form-group col-md-6">
									<label for="tel_Ficha">Teléfono</label>
									<input type="text" name="telFicha" id="tel_Ficha" class="form-control required">
								</div>

								<div class="form-group col-md-6">
									<duet-date-picker placeholder="Fecha de nacimiento" name="fecha_nacimiento"
										id="fecha_nacimiento" min="1932-01-01" max="{{fechaMaxima}}"
										value="{{ficha.fecha_nacimiento}}" class="required" required first-day-of-week="0" readonly></duet-date-picker>
									<small id="txtFecha_" class="text-red" style="display: none;">Por favor selecciona una fecha valida</small><br>
								</div>

								{{!-- CAMPO PAIS/NACIONALIDAD --}}
								<div class="form-group col-md-6">
									<select name="pais" id="pais"
										class="form-control chosen-container chosen-container-single required">
										{{#if ficha}}
										<option value="{{ficha.pais}}">{{ficha.pais}}</option>
										{{else}}
										<option value=""></option>
										{{/if}}
										{{#each datos.paises}}
										<option value="{{name}} ({{isoCode}})">{{name}} ({{isoCode}})</option>
										{{/each}}
									</select>
								</div>

								<div class="form-group col-md-12">
									<label class="mb-2">Redes Sociales de la Compañía</label>
									<div class="input-group-prepend mb-2">
										<span class="input-group-text">https://twitter.com/</span>
										<input type="text" name="twitter" id="twitter"
											value="{{datos.redes_sociales.twitter}}" class="form-control"
											onchange="getVals(this, 'twitter_field');" style="height: 45px;" placeholder="usuarioTwitter" >
									</div>
									<div class="input-group-prepend mb-2">
										<span class="input-group-text">https://facebook.com/</span>
										<input type="text" name="facebook" id="facebook"
											value="{{datos.redes_sociales.facebook}}" class="form-control mb-2"
											onchange="getVals(this, 'twitter_field');" style="height: 45px;" placeholder="usuarioFacebok">
									</div>
									<div class="input-group-prepend mb-2">
										<span class="input-group-text">https://instagram.com/</span>
										<input type="text" name="instagram" id="instagram"
											value="{{datos.redes_sociales.instagram}}" class="form-control mb-2"
											onchange="getVals(this, 'instagram_field');" style="height: 45px;" placeholder="usuarioInstagram">
									</div>
									{{!-- <div class="input-group-prepend mb-2">
										<span class="input-group-text" style="padding-right: 82px;">https://www.</span>
										<input type="text" name="otra" value="{{datos.redes_sociales.otra}}"
											class="form-control mb-2" placeholder="otra-red.com" style="height: 45px;" onchange="getVals(this, 'otra_field');">
									</div> --}}
								</div>

							</div>
							
						</div>
						<!-- /Paso 1 -->

						<!-- Paso 2 SOBRE LA EMPRESA ============================== -->
						<div class="step">
							<h2 class="section_title">SOBRE LA EMPRESA</h2>

							<div class="row add_top_10 add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

								<div class="form-group col-md-6 ">
									<label>¿Eres dueño de negocio?</label>
									<div class="form-group mb-3 radio_input">
										<label class="container_radio mr-3">Si
											<input type="radio" name="es_propietario" value="Si" class="required"
												{{datos.prop1}}>
											<span class="checkmark"></span>
										</label>
										<label class="container_radio">No
											<input type="radio" name="es_propietario" value="No" class="required"
												{{datos.prop2}}>
											<span class="checkmark"></span>
										</label>
									</div>
								</div>

								<div class="form-group col-md-6">
									<label>¿Tienes socios?</label>
									<div class="form-group mb-3 radio_input">
										<label class="container_radio mr-3">Si
											<input type="radio" name="socios" value="Si" class="checkSocios required"
												{{datos.socio1}}>
											<span class="checkmark"></span>
										</label>
										<label class="container_radio">No
											<input type="radio" name="socios" value="No" class="checkSocios required"
												{{datos.socio2}}>
											<span class="checkmark"></span>
										</label>
									</div>
								</div>

								<div class="form-group col-md-6 ">
									<label for="nombre_empresa">Nombre de la empresa</label>
									<input type="text" name="nombre_empresa" id="nombre_empresa"
										value="{{empresa.nombre_empresa}}" class="form-control required"
										onchange="getVals(this, 'nombre_empresa_field');">
								</div>
								<div class="form-group col-md-6">
									<label for="cantidad_socios">Cantidad de socios</label>
									<input type="text" name="cantidad_socios" id="cantidad_socios"
										value="{{ficha.cantidad_socios}}" class="campoNum form-control"
										style="{{datos.estiloSocio}}" {{datos.socioNo}} min="{{datos.socioMin}}">
								</div>

								<div class="form-group col-md-6 ">
									<label for="porcentaje_accionario">¿Cuál es tu % accionario?</label>
									<input type="text" name="porcentaje_accionario" id="porcentaje_accionario"
										value="{{ficha.porcentaje_accionario}}" class="form-control campoNum required"
										onchange="getVals(this, 'porcentaje_accionario_field');" maxlength="6">
								</div>
								<div class="form-group col-md-6">
									<label for="tiempo_fundacion">Tiempo de fundacion</label>
									<input type="text" name="tiempo_fundacion" id="tiempo_fundacion"
										value="{{ficha.tiempo_fundacion}}" class="form-control "
										onchange="getVals(this, 'tiempo_fundacion_field');">
								</div>

								{{!-- <div class="form-group col-md-6 ">
									<select name="tipo_empresa" class="form-control default-select selectpicker required" required>
										<option value="">Tipo de empresa</option>
										<option value="1">Nuevo proyecto (aun sin ejecutar)</option>
										<option value="2">Empresa establecida (actualmente facturando)</option>
									</select>
								</div> --}}
								
								<div class="form-group col-md-6">
									<label for="promedio_ingreso_anual">Promedio de ingreso anual*</label>
									<input type="text" name="promedio_ingreso_anual" id="promedio_ingreso_anual"
										value="{{ficha.promedio_ingreso_anual}}" class="form-control "
										onchange="getVals(this, 'promedio_ingreso_anual_field');">
								</div>

								<div class="form-group col-md-6 ">
									<label for="num_empleados">Número de empleados</label>
									<input type="text" name="num_empleados" id="num_empleados"
										value="{{ficha.num_empleados}}" class="form-control campoNum required"
										onchange="getVals(this, 'num_empleados_field');" min="1">
								</div>
								<div class="form-group col-md-6">
									<label for="page_web">Página Web https://ejemplo.com</label>
									<input type="text" name="page_web" id="page_web" value="{{ficha.page_web}}"
										class="form-control" onchange="getVals(this, 'page_web_field');">
								</div>

							</div>
							
						</div>
						<!-- /Paso 2 -->

						<!-- Paso 3 DESCRIPCIÓN DE TU NEGOCIO -->
						<div class="step">
							<h2 class="section_title">DESCRIPCIÓN DE TU NEGOCIO</h2>

							<div class="row add_top_10 add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

								<div class="form-group col-md-12 mt-2">
									<label for="descripcion">¿Qué hace tu negocio?</label>
									<textarea name="descripcion" id="descripcion" class="form-control required"
										style="height: 115px; min-height: 110px;">{{ficha.descripcion}}</textarea>
								</div>

								<div class="form-group col-md-12">
									<label>¿En qué etapa se encuentra tu negocio?</label>
									<div class="form-group mb-3 radio_input" d>
										<label class="container_radio mr-3">En Proyecto (aun sin ejecutar)
											<input type="radio" name="etapa_actual" value="En proyecto" class="required"
												{{datos.etapa1}}>
											<span class="checkmark"></span>
										</label>
										<label class="container_radio mr-3">Operativo
											<input type="radio" name="etapa_actual" value="Operativo" class="required"
												{{datos.etapa2}}>
											<span class="checkmark"></span>
										</label>
										<label class="container_radio">En expansión
											<input type="radio" name="etapa_actual" value="En expansión"
												class="required" {{datos.etapa3}}>
											<span class="checkmark"></span>
										</label>
									</div>
								</div>

								<div class="form-group col-md-12">
									<label>¿Cuáles son los 3 principales objetivos de tu negocio?</label>

									<label for="objetivo1">1-</label>
									<input type="text" name="objetivo1" id="objetivo1"
										value="{{datos.objetivos.objetivo1}}" class="form-control my-3 required"
										onchange="getVals(this, 'objetivo1_field');" placeholder="1-">

									<label for="objetivo2">2-</label>
									<input type="text" name="objetivo2" id="objetivo2"
										value="{{datos.objetivos.objetivo2}}" class="form-control my-3 required"
										onchange="getVals(this, 'objetivo2_field');" placeholder="2-">

									<label for="objetivo3">3-</label>
									<input type="text" name="objetivo3" id="objetivo3"
										value="{{datos.objetivos.objetivo3}}" class="form-control my-3 required"
										onchange="getVals(this, 'objetivo3_field');" placeholder="3-">
								</div>

							</div>

						</div>
						<!-- /Paso 3 -->

						<!-- Paso 4 MOTIVO DE CONSULTORÍA -->
						<div class="step">
							<!-- Fortalezas de tu negocio -->
							<div class="row add_top_10 barra-scroll overflow-y-auto" style="max-height: 60vh;">

								<div class="form-group col-md-12">
									<label>¿Cuáles son las 3 principales fortalezas de tu negocio?</label>

									<label for="fortaleza1">1-</label>
									<input type="text" name="fortaleza1" id="fortaleza1"
										value="{{datos.fortalezas.fortaleza1}}" class="form-control my-3 required"
										onchange="getVals(this, 'fortaleza1_field');">

									<label for="fortaleza2">2-</label>
									<input type="text" name="fortaleza2" id="fortaleza2"
										value="{{datos.fortalezas.fortaleza2}}" class="form-control my-3 required"
										onchange="getVals(this, 'fortaleza2_field');">

									<label for="fortaleza3">3-</label>
									<input type="text" name="fortaleza3" id="fortaleza3"
										value="{{datos.fortalezas.fortaleza3}}" class="form-control my-3 required"
										onchange="getVals(this, 'fortaleza3_field');">
								</div>

								<!-- Problemas de tu negocio -->
								<div class="form-group col-md-12">
									<label>¿Cuáles son los 3 principales problemas de tu negocio?</label>

									<label for="problema1">1-</label>
									<input type="text" name="problema1" id="problema1"
										value="{{datos.problemas.problema1}}" class="form-control my-3 required"
										onchange="getVals(this, 'problema1_field');">

									<label for="problema2">2-</label>
									<input type="text" name="problema2" id="problema2"
										value="{{datos.problemas.problema2}}" class="form-control my-3 required"
										onchange="getVals(this, 'problema2_field');">

									<label for="problema3">3-</label>
									<input type="text" name="problema3" id="problema3"
										value="{{datos.problemas.problema3}}" class="form-control my-3 required"
										onchange="getVals(this, 'problema3_field');">
								</div>
								<!-- /Fin Fortalezas Grupo de campos -->

								<div class="form-group col-md-12">
									<label for="motivo_consultoria">¿Cual es la razón por la que su empresa ingresó en este programa?</label>
									<textarea name="motivo_consultoria" id="motivo_consultoria"
										class="form-control required"
										style="height: 115px; min-height: 110px; padding-top: 1.3em;">{{ficha.motivo_consultoria}}</textarea>
								</div>

							</div>

						</div>

						<!-- Último Paso ============================== -->
						<div class="submit step" id="end">
							<div class="summary">
								<div class="wrapper">
									<h3>Gracias por su tiempo<br>
										<span id="nameStepFinal"></span>!
									</h3>
									<p>Al guardar los datos serás redirigido al panel de diagnóstico de negocio donde encontraras información sobre el paso a seguir.</p> 
								</div>

							</div>
						</div>
						<!-- /Último Paso-->

						{{!-- FECHA DE EDICIÓN --}}
						<input type="hidden" id="fecha_zh" name="fecha_zh">
						<input type="hidden" id="fechaDB" value="{{ficha.fecha_nacimiento}}">

					</div>
					<!-- /middle-wizard -->
					<div id="bottom-wizard">
						{{!-- <a class="btn btn-danger" href="#">Limpiar campos</a> --}}
						<button type="button" name="backward" class="backward">Anterior</button>
						<button type="button" name="forward" class="forward">Siguiente</button>
						<button type="submit" name="process" class="submit">Guardar Datos</button>
					</div>
					<!-- /bottom-wizard -->
				</form>
			</div>
			<!-- /Wizard container -->
		</div>
		<!-- /content-right-->
	</div>
	<!-- /row-->
</div>
<!-- /container-fluid -->

<a href="/diagnostico-de-negocio" class="close">


	{{!-- SCRIPT MASCARAS PARA INPUT --}}
	<script src="https://unpkg.com/imask"></script>

<script>
		//Capturando Campo Nombres para el paso Final
		const nom1 = document.getElementById("nombres");
		const nameFinal = document.getElementById("nameStepFinal");
		nameFinal.innerHTML = nom1.value;
		nom1.onchange = function () {
			nameFinal.innerHTML = nom1.value
		}

		// Asignando fecha de modificación al campo oculto
		const tzLocal = Intl.DateTimeFormat().resolvedOptions().timeZone;
		console.log(tzLocal);
		document.getElementById("fecha_zh").value = tzLocal;

		document.addEventListener("DOMContentLoaded", function () {
			// Formato de número USA (+1)
			IMask(document.getElementById('tel_Ficha'), {
				mask: '(000) 000-0000'
			});

			// Separación para cifras en millares
			IMask(document.getElementById('promedio_ingreso_anual'), {
				mask: '$num',
				blocks: {
					num: {
						// nested masks are available!
						mask: Number,
						thousandsSeparator: ' '
					}
				}
			});

			// Asignando Fecha de la base de datos
			const txtFecha = $('#txtFecha_');
			const fna = document.getElementById("fecha_nacimiento");
			const DATE_FORMAT_US = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/
			fna.dateAdapter = {
				parse(value = "", createDate) {
					const matches = value.match(DATE_FORMAT_US)

					if (matches) { return createDate(matches[3], matches[1], matches[2]) }
				},
				format(date) { return `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}` },
			}

			fna.localization = {
				placeholder: "Fecha de Nacimiento",
				selectedDateMessage: "La fecha seleccionada es",
				prevMonthLabel: "Mes anterior",
				nextMonthLabel: "Mes siguiente",
				monthSelectLabel: "Mes",
				yearSelectLabel: "Año",
				closeLabel: "Cerrar ventana",
				calendarHeading: "Selecciona una fecha",
				dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
				//dayNamesShort: ["DO", "LU", "MA", "MI", "JU", "VI", "SA"],
				monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
				monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
				locale: "en-US",
				inputEnabled: false,
			}

			fna.addEventListener('keydown', function(event) {
				event.preventDefault();
				if (fna.value == '') {
					fna.value = '';
					txtFecha.show();
					setTimeout(function() {
						txtFecha.hide();
					}, 4000);
				}
			});

			const fechaDB = document.getElementById("fechaDB").value;
			//if (fechaDB) fna.value = fechaDB;
		});

		// Separación para cifras en millares
		IMask(document.getElementById('promedio_ingreso_anual'), {
			mask: '$num',
			blocks: {
				num: {
					// nested masks are available!
					mask: Number,
					thousandsSeparator: ' '
				}
			}
		});

		// Formateando campo para porcentaje
		document.querySelector('#porcentaje_accionario').addEventListener('input', function (e) {
			let int = e.target.value.slice(0, e.target.value.length - 1);

			if (int.includes('%')) {
				e.target.value = int + '%';
			} else if (int == 100 && !int.includes('.')) {
				e.target.value = int + '%';
			} else if (int.length >= 3 && int.length <= 4 && !int.includes('.')) {
				e.target.value = int.slice(0, 2) + '.' + int.slice(2, 3) + '%';
				e.target.setSelectionRange(4, 4);
			} else if (int.length >= 5 & int.length <= 6) {
				let whole = int.slice(0, 2);
				let fraction = int.slice(3, 5);
				e.target.value = whole + '.' + fraction + '%';
			} else {
				e.target.value = int + '%';
				e.target.setSelectionRange(e.target.value.length - 1, e.target.value.length - 1);
			}
		});

	</script>