<style>
  .bootstrap-select.form-control-sm .dropdown-toggle {
    padding: 8px 25px;
    height: 35px;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: white;
    font-size: 11px;
}
.bootstrap-select>.dropdown-toggle:after {
    margin-top: -1px;
    color: white;
}
.chosen-container-single .chosen-single span {
    font-size: 11px;
    font-weight: 500;
}

a:not([href]):not([tabindex]) {
    padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 3px;
}

.chosen-container.chosen-with-drop .chosen-drop{
        width: 106%;
}
.chosen-container .chosen-single {
    min-width: 217px; /* Establece el ancho mínimo deseado */
}

.truncated-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Ajusta el valor según tus necesidades */
  padding: 21px !important;
  background-color: white !important;
}   

.truncated-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Ajusta el valor según tus necesidades */
  padding: 21px !important;
  background-color: white !important;

}


.tituloRecurso{
    color:#000000;font-weight: 600;
    text-transform: lowercase;
    margin: 25px 0px 28px;
}
.tituloRecurso:first-letter {
    text-transform: uppercase;
}

 table.header-border td {
        padding: 5px 10px; /* Ajusta los valores según tus necesidades */
    }

</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-recursos">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="media-body" style="margin-top: -67px;">
                                    <img src="../img/nube.png" class="nube"  alt="..nube">
                                    <img src="../img/folder.png" class="folder" alt="..folder">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="media-body" style="margin-left: -59px;">
                                        <h6 class="titulo">Bienvenido(a) al area de recursos</h6>
                                        <br>
                                        <br>
                                        <p class="texto">Desde aquí tendrás acceso a los recursos que hemos preparado para facilitar tu proceso de crecimiento empresarial, duplicarlos para editarlos y cargat tus propios archivos para tenerlo tu información organizada en un solo lugar</p>
                                    <div class="row">
                                        <div class="col-4">
                                            {{!-- SUBIR RECURSOS --}}
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle btnArchivo text-black" data-toggle="dropdown">Subir recurso</button>
                                                    <div class="dropdown-menu">
                                                        <button class="dropdown-item" data-toggle="modal" data-target="#cargar_archivo" aria-disabled="true">Cargar archivo</button>
                                                        <button class="dropdown-item" data-toggle="modal" data-target="#conectar_link" aria-disabled="true">Conectar link</button>
                                                    </div>
                                                </div>
                                                <!-- Modal CARGAR ARCHIVOS -->
                                                <div class="modal fade" id="cargar_archivo">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <form action="/enviar-archivo" method="post" enctype="multipart/form-data" >
                                                            <div class="modal-content">
                                                                <div class="modal-header justify-content-center">
                                                                    <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Carga de recursos</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Nombre del recurso</label>
                                                                                <input type="text" class="form-control input-recursos" required name="nombre_archivo" id="nombre_archivo2" placeholder="Introduce un nombre para el archivo">
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Categoria</label>
                                                                                <select name="categoria" id="categoria2" class="form-control input-recursos chosen-container chosen-container-single required">
                                                                                        <option value="N/A">Escoge o crea una categoría para tu recurso</option>
                                                                                        <option value="{{valor}}">{{valor}}</option>
                                                                                        <option value="hh">hh</option>
                                                                                        <option value="hh">hh</option>
                                                                                        <option value="hh">hh</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <select name="tipo_archivo" class="form-control form-control-sm default-select btnTypeArchivo text-white">
                                                                                    <option>Elije un tipo de recurso</option>
                                                                                    <option>Documento de Word</option>
                                                                                    <option>Documento de Excel</option>
                                                                                    <option>Documento PDF</option>
                                                                                    <option>Archivo de imagen</option>
                                                                                </select>
                                                                                    {{!-- <div class="basic-dropdown">
                                                                                    <div class="dropdown">
                                                                                        <button class="btn dropdown-toggle btnTypeArchivo text-white" data-toggle="dropdown">
                                                                                            Elije un tipo de recurso
                                                                                        </button>
                                                                                    </div>
                                                                                </div> --}}
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                    <div class="row opera">
                                                                        <div class="drop-area">
                                                                            <center>
                                                                                <img src="../img/upload.png" alt="" style="width: 66px;">
                                                                            </center>
                                                                            <br>
                                                                            <h2>Organiza tus archivos</h2>
                                                                            <p class="text-black" style="font-weight: 265;font-size: 15px;">Arrastra o carga un archivo para empezar</p>
                                                                            <center>
                                                                                <button id="btnfile">Examinar archivos</button>
                                                                            </center>
                                                                            <input type="file" name="recursoEmpresa" id="input-file" hidden>
                                                                        </div>
                                                                        <div id="preview"></div>
                                                                    </div>
                                                                </div>
                                                                {{!-- <div class="modal-footer justify-content-center">
                                                                    <button type="submit" class="btn text-black" style="background-color: #FED061;border-radius: 8px;width: 187px;height: 48px;font-weight: 600;font-size: 20px;">Guardar</button>
                                                                </div> --}}
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- Modal -->

                                                <!-- Modal CONECTAR LINK -->
                                                <div class="modal fade" id="conectar_link">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <form action="/cargar-link" method="post" >
                                                        <input type="hidden" name="idEmpresa" value="{{id_empresa}}">
                                                            <div class="modal-content">
                                                                <div class="modal-header justify-content-center">
                                                                    <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Carga de recursos</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Nombre del recurso</label>
                                                                                <input type="text" class="form-control input-recursos" required name="nombre_recurso" placeholder="Introduce un nombre para el archivo">
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Categoria</label>
                                                                                <select id="categoriaSelect" class="sltBuscar form-control input-recursos chosen-container chosen-container-single required">
                                                                                    <option value="N/A">Escoge o crea una categoría para tu recurso</option>
                                                                                        {{#each categorias}}
                                                                                        <option value="{{this}}">{{this}}</option>
                                                                                    {{/each}}
                                                                                </select>
                                                                                <input type="hidden" id="categoriaHidden" name="categoria">
                                                                            </div>
                                                                            <div class="col-2">
                                                                                    <select name="tipo_archivo" class="form-control form-control-sm default-select btnTypeArchivo text-white">
                                                                                    <option>Elije un tipo de recurso</option>
                                                                                    <option value="Google Drive"> Archivo en Google Drive</option>
                                                                                    <option value="Pagina web">Pagina web</option>
                                                                                    <option value="Video de YouTube">Video de YouTube</option>
                                                                                    <option value="Video de Vimeo">Video de Vimeo</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">
                                                                            <div class="col-11">
                                                                                <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Link del recurso</label>
                                                                                <input type="url" class="form-control input-recursos2" required name="link_recurso" placeholder="Introduce aqui la URL del recurso">
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                                <div class="modal-footer justify-content-center">
                                                                    <button type="submit" class="btn text-black" style="background-color: #FED061;border-radius: 8px;width: 187px;height: 48px;font-weight: 600;font-size: 20px;">Guardar</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- Modal -->
                                            </div>
                                        </div>
                                        {{!-- SUBIR GRUPOS --}}
                                        <div class="col-6">
                                            <button class="btnGrupo" data-toggle="modal" data-target="#subir_grupo" aria-disabled="true">Subir grupo</button>
                                        </div>
                                    <!-- Modal SUBIR GRUPOS -->
                                        <div class="modal fade" id="subir_grupo">
                                            <div class="modal-dialog" role="document">
                                                <form action="/guardar-grupo" method="post">
                                                    <input type="hidden" name="idEmpresa" value="{{id_empresa}}">
                                                    <div class="modal-content">
                                                        <div class="modal-header justify-content-center">
                                                            <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Grupo de recursos</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="text-black" style="text-align: center;">
                                                            <h5 class="modal-title text-black" style="font-weight: 500;font-size: 20px;">Organiza tus archivos</h5>
                                                            <p style="font-weight: 265;font-size: 15px;">Crea grupos de recursos pertenecientes a una misma temática, seleccionando los elementos</p>
                                                        </div>        
                                                        <div class="modal-body">
                                                            <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
                                                            <div class="row opera">
                                                               <div class="col-4">
                                                                    <input type="text" class="form-control input-recursos" required name="nombre_grupo" placeholder="Introduce el nombre del grupo de recursos">
                                                               </div>
                                                               <div class="col-4">
                                                                    <textarea name="descrip_grupo" class="form-control input-recursos" required cols="30" rows="10" placeholder="Introduce la descripcion del grupo de recurso"></textarea>
                                                               </div>
                                                            </div>
                                                             <br>
                                                            <div class="row opera">
                                                                <div class="col-6">
                                                                <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Color para este grupo</h3>
                                                                    <div class="colorButtons">
                                                                        <button type="button" class="colorButton" data-color="#D74040"></button>
                                                                        <button type="button" class="colorButton" data-color="#739232"></button>
                                                                        <button type="button" class="colorButton" data-color="#58B57D"></button>
                                                                        <button type="button" class="colorButton" data-color="#407CD7"></button>
                                                                        <button type="button" class="colorButton" data-color="#4085D7"></button>
                                                                        <button type="button" class="colorButton" data-color="#9540D7"></button>
                                                                        <button type="button" class="colorButton" data-color="#812082"></button>
                                                                        <button type="button" class="colorButton" data-color="#FED061"></button>
                                                                    </div>
                                                                    <div id="colorPreview"></div>
                                                                   <input type="hidden" id="colorGrupoInput" name="color_grupo">
                                                                </div>
                                                                <div class="col-6">
                                                                {{!-- <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Color para este grupo</h3> --}}
<select id="opciones">
  <option value="">Opciones</option>
  <option value="titulo">Título</option>
  <option value="descripcion">Descripción</option>
  <option value="separador">Separador</option>
  <option value="url">URL</option>
  {{!-- <option value="archivo">Subir Archivo</option> --}}
</select>
<div id="contenido"></div>
                                                   
                                                                </div>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="modal-footer justify-content-center">
                                                                    <button type="submit" id="myForm" class="btn text-black" style="background-color: #FED061;border-radius: 8px;width: 187px;height: 48px;font-weight: 600;font-size: 20px;">Guardar</button>
                                                                </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15%;">
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Recursos compartidos</h3>
                    <div class="col-xl-3">
                        <div class="card text-white" style="background: #EF2727;box-shadow: 0px 0px 30px rgba(239, 39, 39, 0.4);border-radius: 11px;width: 240px; height: 215px;">
                            <div class="card-body mb-0">
                                <br>
                                <div class="widget-media">
                                    <div class="timeline d-flex flex-row">
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-word"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-regular fa-file-excel"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-pdf"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-image"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-footer bg-transparent border-0 text-white"
                                        style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">Documentos financieros</h3>
                                    <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">Documentos necesarios para presentar reporte de ingresos y declaracion de impuestos en el estado de la Florida</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card text-white" style="background: linear-gradient(203.15deg, #30AFF7 2.17%, rgba(85, 194, 255, 0.934375) 85.02%);box-shadow: 0px 0px 30px rgba(66, 184, 250, 0.4);border-radius: 11px;width: 240px; height: 215px;">
                            <div class="card-body mb-0">
                                <br>
                                <div class="widget-media">
                                    <div class="timeline d-flex flex-row">
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-word"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-regular fa-file-excel"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-pdf"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-image"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-footer bg-transparent border-0 text-white"
                                        style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">Documentos financieros</h3>
                                    <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">Documentos necesarios para presentar reporte de ingresos y declaracion de impuestos en el estado de la Florida</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card text-white" style="background: #48A785;box-shadow: 0px 0px 30px rgba(72, 167, 133, 0.4);border-radius: 11px; width: 240px;height: 215px;">
                            <div class="card-body mb-0">
                                <br>
                                <div class="widget-media">
                                    <div class="timeline d-flex flex-row">
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-word"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-regular fa-file-excel"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-pdf"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-image"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-footer bg-transparent border-0 text-white"
                                        style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">Documentos financieros</h3>
                                    <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">Documentos necesarios para presentar reporte de ingresos y declaracion de impuestos en el estado de la Florida</div>

                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card text-white" style="background: #6B6496;box-shadow: 0px 0px 30px rgba(107, 100, 150, 0.4);border-radius: 11px;width: 240px;height: 215px;">
                            <div class="card-body mb-0">
                                <br>
                                <div class="widget-media">
                                    <div class="timeline d-flex flex-row">
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-word"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-regular fa-file-excel"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-pdf"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-image"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-footer bg-transparent border-0 text-white"
                                        style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">Documentos financieros</h3>
                                    <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">Documentos necesarios para presentar reporte de ingresos y declaracion de impuestos en el estado de la Florida</div>

                                </div>
                            </div>
                    </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15%;">
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Mis documentos</h3>
                    <h3 style="position: absolute; margin-top: -35px;margin-left: 16px;color:#000000;font-weight: 300;">Grupos</h3>
                   {{#each grupos}}
                        <div class="col-xl-3">
                            <div class="card text-white" style="background:{{color_grupo}};border-radius: 11px;width: 240px; height: 215px;">
                            <a onclick="eliminarGrupo({{idGrupo}})" class="btn btn-white shadow btn-xs sharp text-white position-absolute" style="top: 5px;right: 5px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;"><i class="fa fa-trash" style="margin: -3px;font-size: 12px"></i></a>
                                <div class="card-body mb-0">
                                    <br>
                                    <div class="widget-media">
                                        <div class="timeline d-flex flex-row">
                                            <div class="timeline-panel">
                                                <div class="media mr-2 media-success">
                                                    <i class="fa-solid fa-file-word"></i>
                                                </div>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="media mr-2 media-success">
                                                    <i class="fa-regular fa-file-excel"></i>
                                                </div>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="media mr-2 media-success">
                                                    <i class="fa-solid fa-file-pdf"></i>
                                                </div>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="media mr-2 media-success">
                                                    <i class="fa-solid fa-image"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="card-footer bg-transparent border-0 text-white"
                                            style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">{{nombre_grupo}}</h3>
                                        <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">{{descrip_grupo}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                           <table class="table header-border">
                                {{#each datos}}
                                {{#if categoria}}
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <h3 class="tituloRecurso">{{categoria}}</h3>
                                        </td>
                                    </tr>
                                {{else}}
                                    <tbody>
                                        <tr class="table-active text-black">
                                            <td class="truncated-cell"><img src="{{ iconoSVG }}" alt="Icono SVG"></td>
                                            <td class="truncated-link">
                                                <a class="text-black" href="{{link_recurso}}" title="{{link_recurso}}" target="_blank">{{nombre_recurso}}</a>
                                            </td>
                                            <td class="truncated-cell">{{fecha}}</td>
                                            <td class="truncated-cell">
                                                <div style="margin: 0 auto">
                                                    <a href="{{link_recurso}}" title="{{link_recurso}}" target="_blank" class="btn color_gradient shadow btn-xs sharp mr-1 text-white"><i class="fa-solid fa-cloud-arrow-down"></i></a>
                                                    <a onclick="eliminarRecurso({{idRecurso}})" class="btn btn-danger shadow btn-xs sharp text-white"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                {{/if}}
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .campo {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    border: none;
    background-color: transparent;
  }
</style>

<script src="../js/upload.js"></script>
<script src="../js/jquery.js"></script>
{{!-- SELECTOR CON BUSCADOR --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

<script>
// Obtener elementos del DOM
const select = document.getElementById("opciones");
const contenido = document.getElementById("contenido");

// Variables de contador para cada tipo de campo
let contadorTitulo = 1;
let contadorDescripcion = 1;
let contadorUrl = 1;
let contadorSeparador = 1;

// Función para crear el campo de título
function crearCampoTitulo() {
  const inputTitulo = document.createElement("input");
  inputTitulo.type = "text";
  inputTitulo.classList.add("form-control", "campo");
  inputTitulo.placeholder = "Ingrese el título aquí";
  inputTitulo.name = "titulo" + contadorTitulo;

  const campoTituloContainer = document.createElement("div");
  campoTituloContainer.classList.add("campo-container");
  campoTituloContainer.appendChild(inputTitulo);

  const botonBorrarTitulo = document.createElement("i");
  botonBorrarTitulo.classList.add("fas", "fa-trash-alt", "icono-borrar");
  botonBorrarTitulo.addEventListener("click", function() {
    contenido.removeChild(campoTituloContainer);
  });

  campoTituloContainer.appendChild(botonBorrarTitulo);

  contenido.appendChild(campoTituloContainer);
  contadorTitulo++;
}

// Función para crear el campo de descripción
function crearCampoDescripcion() {
  const textarea = document.createElement("textarea");
  textarea.classList.add("form-control");
  textarea.placeholder = "Describa el grupo...";
  textarea.name = "descripcion" + contadorDescripcion;

  const campoDescripcionContainer = document.createElement("div");
  campoDescripcionContainer.classList.add("campo-container");
  campoDescripcionContainer.appendChild(textarea);

  const botonBorrarDescripcion = document.createElement("i");
  botonBorrarDescripcion.classList.add("fas", "fa-trash-alt", "icono-borrar");
  botonBorrarDescripcion.addEventListener("click", function() {
    contenido.removeChild(campoDescripcionContainer);
  });

  campoDescripcionContainer.appendChild(botonBorrarDescripcion);

  contenido.appendChild(campoDescripcionContainer);
  contadorDescripcion++;
}

// Función para crear el separador
function crearSeparador() {
  const hr = document.createElement("hr");
  hr.style.border = "1px solid black";
  hr.classList.add("separador");

  const separadorContainer = document.createElement("div");
  separadorContainer.classList.add("campo-container");
  separadorContainer.appendChild(hr);

  const botonBorrarSeparador = document.createElement("i");
  botonBorrarSeparador.classList.add("fas", "fa-trash-alt", "icono-borrar");
  botonBorrarSeparador.addEventListener("click", function() {
    contenido.removeChild(separadorContainer);
  });

  separadorContainer.appendChild(botonBorrarSeparador);

  contenido.appendChild(separadorContainer);
  contadorSeparador++;
}

// Función para crear el campo de URL
function crearCampoUrl() {
  const inputUrl = document.createElement("input");
  inputUrl.type = "text";
  inputUrl.placeholder = "Ingrese la URL";
  inputUrl.classList.add("form-control", "input-recursos2");
  inputUrl.name = "url" + contadorUrl;

  const campoUrlContainer = document.createElement("div");
  campoUrlContainer.classList.add("campo-container");
  campoUrlContainer.appendChild(inputUrl);

  const botonBorrarUrl = document.createElement("i");
  botonBorrarUrl.classList.add("fas", "fa-trash-alt", "icono-borrar");
  botonBorrarUrl.addEventListener("click", function() {
    contenido.removeChild(campoUrlContainer);
  });

  campoUrlContainer.appendChild(botonBorrarUrl);

  contenido.appendChild(campoUrlContainer);
  contadorUrl++;
}

// Función para crear el campo de archivo
function crearCampoArchivo() {
  const inputFile = document.createElement("input");
  inputFile.type = "file";

  const campoArchivoContainer = document.createElement("div");
  campoArchivoContainer.classList.add("campo-container");
  campoArchivoContainer.appendChild(inputFile);

  const botonBorrarArchivo = document.createElement("i");
  botonBorrarArchivo.classList.add("fas", "fa-trash-alt", "icono-borrar");
  botonBorrarArchivo.addEventListener("click", function() {
    contenido.removeChild(campoArchivoContainer);
  });

  campoArchivoContainer.appendChild(botonBorrarArchivo);

  contenido.appendChild(campoArchivoContainer);
}

// Evento change del selector de opciones
select.addEventListener("change", function() {
  const opcionSeleccionada = select.value;
  switch (opcionSeleccionada) {
    case "titulo":
      crearCampoTitulo();
      break;
    case "descripcion":
      crearCampoDescripcion();
      break;
    case "separador":
      crearSeparador();
      break;
    case "url":
      crearCampoUrl();
      break;
    case "archivo":
      crearCampoArchivo();
      break;
  }
});

// Evento submit del formulario
document.querySelector("form").addEventListener("submit", function(e) {
  e.preventDefault();
  const form = this;
  const formData = new FormData(form);

  fetch(form.action, {
    method: form.method,
    body: formData
  })
    .then(response => {
      // Manejar respuesta del controlador
    })
    .catch(error => {
      // Manejar errores
    });
});



// :: PARA CAPTURAR EL COLOR DEL GRUPO ::

  // Obtener los botones de selección de color
  let colorButtons = document.querySelectorAll('.colorButton');
  let colorPreviewElement = document.getElementById("colorPreview");
  let colorGrupoInput = document.getElementById("colorGrupoInput");

  // Agregar evento de clic a los botones de color
  colorButtons.forEach(function(button) {
    button.addEventListener("click", function() {
      // Remover la clase 'selected' de todos los botones
      colorButtons.forEach(function(btn) {
        btn.classList.remove('selected');
      });

      // Agregar la clase 'selected' al botón clicado
      this.classList.add('selected');

      // Obtener el color seleccionado
      let selectedColor = this.getAttribute('data-color');

      // Mostrar el color seleccionado en el elemento de vista previa
      colorPreviewElement.style.backgroundColor = selectedColor;

      // Guardar el color seleccionado en el campo de entrada oculto
      colorGrupoInput.value = selectedColor;
    });
  });





(function () {
    // ATRAPAR LA OPCION CREADA EN EL SELECTOR Y MANDARLO A UN INPUT HIDDEN
    $(document).ready(function () {
      function selectBuscar(id) {
        id.chosen({
          no_results_text: "Sin resultados para",
          allow_single_deselect: true,
          placeholder_text_single: "Selecciona una opción",
          width: '100%',
        });
  
        const campoBusqueda = id.next('.chosen-container').find('.chosen-search input');
        const categoriaHidden = $('#categoriaHidden');
  
        campoBusqueda.on('change', function () {
          const valorBusqueda = campoBusqueda.val().trim();
  
          const opcionExistente = id.find('option[value="' + valorBusqueda + '"]');
          if (opcionExistente.length) {
            opcionExistente.prop('selected', true);
            categoriaHidden.val(valorBusqueda);
          } else {
            id.prepend('<option value="' + valorBusqueda + '">' + valorBusqueda + '</option>');
            id.val(valorBusqueda);
            categoriaHidden.val(valorBusqueda);
          }
  
          id.trigger('chosen:updated');
        });
  
        $(document).on('click', function (e) {
          if (!$(e.target).closest('.chosen-container').length) {
            const opcionSeleccionada = id.val();
  
            categoriaHidden.val(opcionSeleccionada);
          }
        });
      }
  
      const claseCajaGeneral = $('.sltBuscar');
      selectBuscar(claseCajaGeneral);
    });
    
  })();

//   PARA MOSTRAR CIERTA PARTE DE NOMBRES LARGOS
  document.addEventListener("DOMContentLoaded", function() {
    var truncatedCells = document.getElementsByClassName("truncated-cell");
    for (var i = 0; i < truncatedCells.length; i++) {
      var cell = truncatedCells[i];
      var maxWidth = parseFloat(window.getComputedStyle(cell).maxWidth);
      var text = cell.textContent.trim();
      if (cell.offsetWidth < cell.scrollWidth) {
        while (cell.offsetWidth < cell.scrollWidth && text.length > 0) {
          text = text.slice(0, -1);
          cell.textContent = text + "...";
        }
      }
    }
  });

//   ELIMINANDO RECURSOS SUELTOS
function eliminarRecurso(id) {
    Swal.fire({
    title: '¿Seguro de eliminar este recurso?',
    text: "Se quitara de tu lista de recursos.",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#50368C',
    cancelButtonColor: '#d33',
    cancelButtonText: 'Cancelar',
    confirmButtonText: '¡Sí, Borrar!'
    }).then((result) => {
    if (result.isConfirmed) {
        fetch('/eliminarRecurso', {
        method: 'POST',
        body: JSON.stringify({id}),
        headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => {
            if (response) {
            location.reload();
            } else {
            Swal.fire(
                'Error!',
                'Error al borrar el recurso.',
                'error'
            )
            }
        });
        
    }
    })
}

//   ELIMINANDO GRUPO DE RECURSOS
function eliminarGrupo(id) {
    Swal.fire({
    title: '¿Seguro de eliminar este recurso ?',
    text: "Se quitara de tus grupos de recursos.",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#50368C',
    cancelButtonColor: '#d33',
    cancelButtonText: 'Cancelar',
    confirmButtonText: '¡Sí, Borrar!'
    }).then((result) => {
    if (result.isConfirmed) {
        fetch('/eliminarGrupo', {
        method: 'POST',
        body: JSON.stringify({id}),
        headers: {'Content-Type': 'application/json'}
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => {
            if (response) {
            location.reload();
            } else {
            Swal.fire(
                'Error!',
                'Error al borrar el grupo.',
                'error'
            )
            }
        });
        
    }
    })
}

</script>