
<link rel="stylesheet" href="../css/recursos.css">

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-recursos">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="media-body" style="margin-top: -67px;">
                                    <img src="../img/nube.png" class="nube"  alt="..nube">
                                    <img src="../img/folder.png" class="folder" alt="..folder">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="media-body" style="margin-left: -59px;">
                                        <h6 class="titulo">Bienvenido(a) al area de recursos</h6>
                                        <br>
                                        <br>
                                        <p class="texto">Desde aquí tendrás acceso a los recursos que hemos preparado para facilitar tu proceso de crecimiento empresarial, duplicarlos para editarlos y cargat tus propios archivos para tenerlo tu información organizada en un solo lugar</p>
                                    <div class="row">
                                        <div class="col-4">
                                            {{!-- SUBIR RECURSOS --}}
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle btnArchivo text-black" data-toggle="dropdown">Subir recurso</button>
                                                    <div class="dropdown-menu">
                                                        <button class="dropdown-item" data-toggle="modal" data-target="#cargar_archivo" aria-disabled="true">Cargar archivo</button>
                                                        <button class="dropdown-item" data-toggle="modal" data-target="#conectar_link" aria-disabled="true">Conectar link</button>
                                                    </div>
                                                </div>
                                                <!-- Modal CARGAR ARCHIVOS SUELTOS-->
                                                <div class="modal fade" id="cargar_archivo">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <form action="/enviar-archivo" method="post" enctype="multipart/form-data">
                                                        <input type="hidden" name="idEmpresa" value="{{id_empresa}}">
                                                        <input type="hidden" name="activeForm" value="true">
                                                            <div class="modal-content">
                                                                <div class="modal-header justify-content-center">
                                                                    <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Carga de recursos</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="col-4">
                                                                                <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Nombre del recurso</label>
                                                                                <input type="text" class="form-control input-recursos" required name="nombre_recurso" placeholder="Introduce un nombre para el archivo">
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Categoria</label>
                                                                                 <select id="categoriaSelectCargar" class="sltBuscar form-control input-recursos chosen-container chosen-container-single required">
                                                                                    <option value="N/A">Escoge o crea una categoría para tu recurso</option>
                                                                                        {{#each categorias}}
                                                                                            <option value="{{this}}">{{this}}</option>
                                                                                        {{/each}}
                                                                                </select>
                                                                                <input type="hidden" id="categoriaHiddenCargar" name="categoria">
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <select name="tipo_archivo" class="form-control form-control-sm default-select btnTypeArchivo text-white">
                                                                                    <option value="">Elije un tipo de recurso</option>
                                                                                    <option value="word">Documento de Word</option>
                                                                                    <option value="excel">Documento de Excel</option>
                                                                                    <option value="pdf">Documento PDF</option>
                                                                                    <option value="imagen">Archivo de imagen</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                    <div class="row opera">
                                                                        <div class="drag-area">
                                                                            <center>
                                                                                <img src="../img/upload.png" alt="" style="width: 66px;">
                                                                            </center>
                                                                            <br>
                                                                            <h2>Organiza tus archivos</h2>
                                                                            <p class="text-black" style="font-weight: 265;font-size: 15px;">Arrastra o carga un archivo para empezar</p>
                                                                            <center>
                                                                                <button id="btnfile">Examinar archivos</button>
                                                                            </center>
                                                                            <input type="file" name="file" id="input-file" hidden>
                                                                        </div>
                                                                        <div id="preview"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer justify-content-center">
                                                                    <button type="submit" class="btn text-black" style="background-color: #FED061;border-radius: 8px;width: 187px;height: 48px;font-weight: 600;font-size: 20px;">Guardar</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- Modal -->
                                           <!-- Modal CONECTAR LINK -->
                                        <div class="modal fade" id="conectar_link">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <form action="/cargar-link" method="post">
                                                    <input type="hidden" name="idEmpresa" value="{{id_empresa}}">
                                                    <input type="hidden" name="activeForm" value="true">
                                                    <div class="modal-content">
                                                        <div class="modal-header justify-content-center">
                                                            <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Carga de recursos</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Nombre del recurso</label>
                                                                    <input type="text" class="form-control input-recursos" required name="nombre_recurso" placeholder="Introduce un nombre para el archivo">
                                                                </div>
                                                                <div class="col-4">
                                                                    <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Categoria</label>
                                                                    <select id="categoriaSelectConectar" class="sltBuscar form-control input-recursos chosen-container chosen-container-single required">
                                                                        <option value="N/A">Escoge o crea una categoría para tu recurso</option>
                                                                        {{#each categorias}}
                                                                        <option value="{{this}}">{{this}}</option>
                                                                        {{/each}}
                                                                    </select>
                                                                    <input type="hidden" id="categoriaHiddenConectar" name="categoria">
                                                                </div>
                                                                <div class="col-2">
                                                                    <select name="tipo_archivo" class="form-control form-control-sm default-select btnTypeArchivo text-white">
                                                                        <option>Elije un tipo de recurso</option>
                                                                        <option value="Google Drive">Archivo en Google Drive</option>
                                                                        <option value="Pagina web">Pagina web</option>
                                                                        <option value="Video de YouTube">Video de YouTube</option>
                                                                        <option value="Video de Vimeo">Video de Vimeo</option>
                                                                        <option value="Notion">Notion</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-11">
                                                                    <label for="" style="font-weight: 500;font-size: 15px;" class="text-black">Link del recurso</label>
                                                                    <input type="url" class="form-control input-recursos2" required name="recurso" placeholder="Introduce aqui la URL del recurso">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-center">
                                                            <button type="submit" class="btn text-black" style="background-color: #FED061;border-radius: 8px;width: 187px;height: 48px;font-weight: 600;font-size: 20px;">Guardar</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    <!-- Modal -->
                                            </div>
                                        </div>
                                    {{!-- SUBIR GRUPOS --}}
                                        <div class="col-6">
                                            <button class="btnGrupo" data-toggle="modal" data-target="#subir_grupo" aria-disabled="true">Subir grupo</button>
                                        </div>
                                    <!-- Modal SUBIR GRUPOS -->
                                        <div class="modal fade" id="subir_grupo">
                                            <div class="modal-dialog" role="document">
                                                <form action="/guardar-grupo" method="post">
                                                    <input type="hidden" name="idEmpresa" value="{{id_empresa}}">
                                                      <!-- Campo oculto para indicar que la solicitud proviene del formulario -->
                                                        <input type="hidden" name="esFormulario" value="true" />
                                                    <div class="modal-content">
                                                        <div class="modal-header justify-content-center">
                                                            <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Grupo de recursos</h5>
                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="text-black" style="text-align: center;">
                                                            <h5 class="modal-title text-black" style="font-weight: 500;font-size: 20px;">Organiza tus archivos</h5>
                                                            <p style="font-weight: 265;font-size: 15px;">Crea grupos de recursos pertenecientes a una misma temática, seleccionando los elementos</p>
                                                        </div>        
                                                        <div class="modal-body">
                                                            <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
                                                            <div class="row opera">
                                                               <div class="col-4">
                                                                    <input type="text" class="form-control input-recursos" required name="nombre_grupo" placeholder="Introduce el nombre del grupo de recursos">
                                                               </div>
                                                               <div class="col-4">
                                                                    <textarea name="descrip_grupo" class="form-control input-recursos" required maxlength="120" cols="30" rows="10" placeholder="Introduce la descripcion del grupo de recurso"></textarea>
                                                               </div>
                                                            </div>
                                                             <br>
                                                            <div class="row opera">
                                                                <div class="col-6">
                                                                    <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Color para este grupo</h3>
                                                                    <div class="colorButtons">
                                                                        <button type="button" class="colorButton" data-color="#D74040"></button>
                                                                        <button type="button" class="colorButton" data-color="#739232"></button>
                                                                        <button type="button" class="colorButton" data-color="#58B57D"></button>
                                                                        <button type="button" class="colorButton" data-color="#407CD7"></button>
                                                                        <button type="button" class="colorButton" data-color="#4085D7"></button>
                                                                        <button type="button" class="colorButton" data-color="#9540D7"></button>
                                                                        <button type="button" class="colorButton" data-color="#812082"></button>
                                                                        <button type="button" class="colorButton" data-color="#FED061"></button>
                                                                    </div>
                                                                   <input type="hidden" id="colorGrupoInput" name="color_grupo">
                                                                </div>
                                                            </div>
                                                           <div class="row opera flex-column">
                                                                <div class="col-3" style="margin-bottom: 25px;">
                                                                    <select id="opciones" class="form-control-sm default-select btnTypeArchivo text-white">
                                                                        <option value="">Agregar Elemento</option>
                                                                        <option value="titulo">Título</option>
                                                                        <option value="descripcion">Bloque de texto</option>
                                                                        <option value="separador">Separador</option>
                                                                        <option value="url">URL</option>
                                                                        <option value="archivo">Subir Archivo</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-10">
                                                                    <div id="contenido"></div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="modal-footer justify-content-center">
                                                            <button type="submit" class="btn text-black" style="background-color: #FED061;border-radius: 8px;width: 187px;height: 48px;font-weight: 600;font-size: 20px;">Guardar</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    <!-- Modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15%;">
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Recursos compartidos</h3>
                    <div class="col-xl-3">
                        <div class="card text-white" style="background: #EF2727;box-shadow: 0px 0px 30px rgba(239, 39, 39, 0.4);border-radius: 11px;width: 240px; height: 215px;">
                            <div class="card-body mb-0">
                                <br>
                                <div class="widget-media">
                                    <div class="timeline d-flex flex-row">
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-word"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-regular fa-file-excel"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-file-pdf"></i>
                                            </div>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-success">
                                                <i class="fa-solid fa-image"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="card-footer bg-transparent border-0 text-white"
                                        style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">Documentos financieros</h3>
                                    <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">Documentos necesarios para presentar reporte de ingresos y declaracion de impuestos en el estado de la Florida</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15%;">
                {{#if grupos}}
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Mis documentos</h3>
                    <h3 style="position: absolute; margin-top: -35px;margin-left: 16px;color:#000000;font-weight: 300;">Grupos</h3>
                {{/if}}    
                    {{#each grupos}}
                        <div class="col-xl-3">
                            <div class="card text-white" style="background:{{color_grupo}};border-radius: 11px;width: 240px; height: 215px;">
                            <a onclick="eliminarGrupo({{idGrupo}})" class="btn btn-white shadow btn-xs sharp text-white position-absolute" style="top: 5px;right: 5px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;"><i class="fa fa-trash" style="margin: -3px;font-size: 12px"></i></a>
                              <a href="#" data-toggle="modal" data-target="#modal-{{idGrupo}}" onclick="verGrupo('{{idGrupo}}')">
                                    <div class="card-body mb-0">
                                        <br>
                                        <div class="widget-media">
                                        <div class="timeline d-flex flex-row">
                                            {{#each iconos}}
                                                <div class="timeline-panel">
                                                    <img src="{{ruta}}" alt="Icono"/>
                                                </div>
                                            {{/each}}
                                        </div>
                                        <h3 class="card-footer bg-transparent border-0 text-white" style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">{{nombre_grupo}}</h3>
                                        <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">{{descrip_grupo}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                   <!-- Modal GRUPOS CREADOS  -->
                        <div class="modal fade grupo" id="modal-{{idGrupo}}" >
                            <div class="modal-dialog" role="document">
                                <form action="/actualizarRecurso" method="post">
                                 <!-- Campo oculto para indicar que la solicitud proviene del formulario -->
                                    <input type="hidden" name="formuario" value="true" />
                                    <input type="hidden" name="idRecurso" value="{{idGrupo}}" id="idRecurso-{{idGrupo}}">
                                    <input type="hidden" value="{{contador}}" id="contador_{{idGrupo}}">
                                    
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Grupo de recursos</h5>
                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="text-black" style="text-align: center;">
                                            <h5 class="modal-title text-black" style="font-weight: 500;font-size: 20px;">Organiza tus archivos</h5>
                                            <p style="font-weight: 265;font-size: 15px;">Crea grupos de recursos pertenecientes a una misma temática, seleccionando los elementos</p>
                                        </div>        
                                        <div class="modal-body">
                                            <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
                                            <div class="row opera flex-column">
                                                <div class="col-3" style="margin-bottom: 25px;">
                                                    <select data-id="{{idGrupo}}" class="form-control-sm default-select btnTypeArchivo text-white opcionesEdit">
                                                        <option value="">Agregar Elemento</option>
                                                        <option value="titulo">Título</option>
                                                        <option value="descripcion">Bloque de texto</option>
                                                        <option value="separador">Separador</option>
                                                        <option value="url">URL</option>
                                                        <option value="archivo">Subir Archivo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row opera">
                                                <div class="col-10">
                                                    {{{cuerpoHTML}}}
                                                </div>
                                                <br>
                                                <div class="col-10">
                                                    <div id="contenidoEdit{{idGrupo}}"></div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="submit" class="btn text-black" style="background-color: #FED061;border-radius: 8px;width: 187px;height: 48px;font-weight: 600;font-size: 20px;">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <!-- Modal -->
                    {{/each}}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                           <table class="table header-border">
                                {{#each datos}}
                                {{#if categoria}}
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <h3 class="tituloRecurso">{{categoria}}</h3>
                                        </td>
                                    </tr>
                                {{else}}
                                    <tbody>
                                        <tr class="table-active text-black">
                                            <td class="truncated-cell"><img src="{{ iconoSVG }}" alt="Icono SVG"></td>
                                            <td class="truncated-link">
                                                <a class="text-black" href="{{recurso}}" title="{{recurso}}" target="_blank">{{nombre_recurso}}</a>
                                            </td>
                                            <td class="truncated-cell">{{fecha}}</td>
                                            <td class="truncated-cell">
                                                <div style="margin: 0 auto">
                                                    <a href="{{recurso}}" title="{{recurso}}" target="_blank" class="btn color_gradient shadow btn-xs sharp mr-1 text-white"><i class="fa-solid fa-cloud-arrow-down"></i></a>
                                                    <a onclick="eliminarRecurso({{idRecurso}})" class="btn btn-danger shadow btn-xs sharp text-white"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                {{/if}}
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="../js/upload.js"></script>
{{!-- SELECTOR CON BUSCADOR --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script src="../js/recursos.js"></script>
<script src="../js/deleteCampos.js"></script>
<script src="../js/editarRecursos.js"></script>

<script>

    
// Función para mostrar el nuevo icono del archivo
function mostrarFilesNuevos(campo) {
  const valor = campo.files[0].name;
  const extension = obtenerExtension(valor);
  const numeroIcono = obtenerNumeroIconoPorExtension(extension); // Asignar el número de icono
  const icono = obtenerIconoPorNumero(numeroIcono); // Obtener el icono correspondiente

  // Actualizar el icono correspondiente
  const iconoElemento = campo.closest('tr').querySelector('.icono-svg');
  iconoElemento.src = icono;

  // Obtener el elemento del nombre del archivo
  const nombreArchivoElemento = campo.closest('tr').querySelector('.nombre-archivo');

  // Obtener el nombre del archivo sin la extensión
  const nombreArchivo = valor.substr(0, valor.lastIndexOf('.'));

  // Obtener la extensión del archivo
  const extensionArchivo = valor.substr(valor.lastIndexOf('.'));

  // Acortar el nombre del archivo si es necesario
  const MAX_LONGITUD_NOMBRE = 20;
  let nombreArchivoMostrado = nombreArchivo;
  if (nombreArchivo.length > MAX_LONGITUD_NOMBRE) {
    nombreArchivoMostrado = nombreArchivo.substr(0, MAX_LONGITUD_NOMBRE) + '...';
  }

  // Actualizar el texto del nombre del archivo
  nombreArchivoElemento.textContent = nombreArchivoMostrado + extensionArchivo;

  // Almacenar el nombre completo del archivo en un atributo de datos
  campo.setAttribute('data-nombre-completo', valor);

  // Almacenar el nombre abreviado del archivo en un atributo de datos
  campo.setAttribute('data-nombre-abreviado', nombreArchivoMostrado + extensionArchivo);

  // Guardar el número de icono en el atributo 'data-numero-icono' del campo
  campo.setAttribute('data-numerofile-icono', numeroIcono);
}

// Función para obtener la extensión de un archivo
function obtenerExtension(nombreArchivo) {
  const extension = nombreArchivo.split('.').pop();
  return extension.toLowerCase();
}

// Función para obtener el número de icono correspondiente a una extensión de archivo
function obtenerNumeroIconoPorExtension(extension) {
  switch (extension) {
    case 'doc':
    case 'docx':
      return 1;
    case 'pdf':
      return 2;
    case 'ppt':
    case 'pptx':
      return 3;
    case 'xls':
    case 'xlsx':
      return 4;
    case 'jpg':
    case 'jpeg':
    case 'png':
      return 5;
    default:
      return 6;
  }
}

// Función para obtener el icono correspondiente según el número de icono
function obtenerIconoPorNumero(numeroIcono) {
  switch (numeroIcono) {
    case 1:
      return "../logos_recursos/Documento_Word.svg";
    case 2:
      return "../logos_recursos/Documento_PDF.svg";
    case 3:
      return "../logos_recursos/Documento_PowePoint.svg";
    case 4:
      return "../logos_recursos/Documento_Excel.svg";
    case 5:
      return "../logos_recursos/Archivo_imagen.svg";
    default:
      return "../logos_recursos/Otro.svg";
  }
}

// Actualizar campo archivos una vez creados en grupo recursos
const camposArchivo = document.querySelectorAll('.campo_archivo');
camposArchivo.forEach(campo => {
  campo.addEventListener('input', () => {
    mostrarFilesNuevos(campo);

    // Obtener el id del grupo correspondiente
    const idGrupo = campo.closest('.modal').getAttribute('id').split('-')[1];
    const idRecurso = document.getElementById(`idRecurso-${idGrupo}`).value;
    const recursoId = campo.id; // Obtener el recurso.id del campo

    // Crear una instancia de FormData y agregar el archivo seleccionado
    const formData = new FormData();
    formData.append('archivo', campo.files[0]);
    formData.append('id', recursoId);
    formData.append('valor', campo.files[0].name);
    formData.append('idRecurso', idRecurso);
    
    const extension = obtenerExtension(campo.files[0].name);
    const numIcono = obtenerNumeroIconoPorExtension(extension);

    formData.append('numeroIcono', numIcono.toString());

    fetch('/actualizarRecurso', {
      method: 'POST',
      body: formData,
      headers: { 'enctype': 'multipart/form-data'}
    })
    .then(response => response.json())
    .then(data => {
      console.log('Archivo subido:', data);
    })
    .catch(error => {
      console.error('Error al subir archivo:', error);
    });
  });
});


</script>