<link rel="stylesheet" href="../css/recursos.css">

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-recursos">
                    <div class="card-body">
                        {{!-- CABECERA --}}
                        <div class="row">
                            <div class="col-4">
                                <div class="media-body" style="margin-top: -67px;">
                                    <img src="../img/Recursos_nube.png" alt="Recursos Upload Enterprise">
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="titulo">Bienvenido(a) al area de recursos</h6>
                                <p class="texto">Desde aquí tendrás acceso a los recursos que hemos preparado para facilitar tu proceso de
                                    crecimiento empresarial, duplicarlos para editarlos y cargar tus propios archivos para tener tu información
                                    organizada en un solo lugar</p>

                                {{!-- HEADER VISTA RECURSOS (MODALES PARA CARGAR LINK, ARCHIOS Y SUBIR GRUPOS DE RECURSOS) --}}
                                {{> modals/recursos_header}}
                                
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- SECCIÓN PARA RECURSOS COMPARTIDOS --}}
                <div class="row" style="margin-top: 15%;">
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Recursos compartidos</h3>
                    <div class="col-xl-3">
                        <div class="card text-white" style="background: #EF2727;box-shadow: 0px 0px 30px rgba(239, 39, 39, 0.4);border-radius: 11px;width: 240px; height: 215px;">
                            <a onclick="copiarGrupo({{idGrupo}})" class="btn shadow btn-xs sharp position-absolute" style="top: 10px;right: 10px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;">
                                <img src="../img/Icono_Duplicar.svg" alt="Copiar Grupo">
                            </a>
                            <div class="card-body mb-0">
                                <br>
                                <div class="widget-media">
                                    <div class="timeline d-flex flex-row">
                                        <div class="timeline-panel">
                                            <img src="../logos_recursos/Pagina_Web.svg" alt="Icono">
                                        </div>
                                        <div class="timeline-panel">
                                            <img src="../logos_recursos/Archivo_imagen.svg" alt="Icono">
                                        </div>
                                    </div>
                                    <h3 class="card-footer bg-transparent border-0 text-white"
                                        style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">Documentos financieros</h3>
                                    <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">Documentos necesarios para presentar reporte de ingresos y declaracion de impuestos en el estado de la Florida</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- SECCIÓN MIS DOCUMENTOS - GRUPOS --}}
                <div class="row" style="margin-top: 7.5em;">
                    {{#if grupos}}
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Mis documentos</h3>
                    <h3 style="position: absolute; margin-top: -35px;margin-left: 16px;color:#000000;font-weight: 300;">Grupos</h3>
                    {{/if}}    
                    {{#each grupos}}
                    <div class="col-xl-3">
                        <div class="card text-white" style="background:{{color_grupo}};border-radius: 11px;width: 240px; height: 215px;">
                            <a onclick="eliminarGrupo({{idGrupo}})" class="btn btn-white shadow btn-xs sharp text-white position-absolute" style="top: 10px;right: 10px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;"><i class="fa fa-trash" style="margin: -3px;font-size: 12px"></i></a>
                            <a href="#" data-toggle="modal" data-target="#modal-{{idGrupo}}" onclick="verGrupo('{{idGrupo}}')">
                                <div class="card-body mb-0">
                                    <br>
                                    <div class="widget-media">
                                        <div class="timeline d-flex flex-row">
                                        {{#each iconos}}
                                            <div class="timeline-panel">
                                                <img src="{{ruta}}" alt="Icono"/>
                                            </div>
                                        {{/each}}
                                        </div>
                                        <h3 class="card-footer bg-transparent border-0 text-white" style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 15px;">{{nombre_grupo}}</h3>
                                        <div class="card-footer bg-transparent border-0 text-white" style="font-size: 11px;margin:7px -29px;">{{descrip_grupo}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    {{!-- Modal GRUPOS CREADOS - EDITAR GRUPOS --}}
                    <div class="modal fade grupo" id="modal-{{idGrupo}}" >
                        <div class="modal-dialog" role="document">
                            <form action="/actualizarRecurso" method="post">
                                {{!-- Campo oculto para indicar que la solicitud proviene del formulario --}}
                                <input type="hidden" name="formuario" value="true" />
                                <input type="hidden" name="idRecurso" value="{{idGrupo}}" id="idRecurso-{{idGrupo}}">
                                <input type="hidden" value="{{contador}}" id="contador_{{idGrupo}}">
                                
                                <div class="modal-content">
                                    {{> modals/header_GrupoRecursos}}
                                    <div class="modal-body">
                                        <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-3" style="margin-left: -16px;">
                                                <input type="text" class="form-control input-recursos" required name="nombre_grupo" placeholder="Introduce el nombre del grupo" value="{{nombre_grupo}}">
                                            </div>
                                            <div class="col-3">
                                                <textarea name="descrip_grupo" class="form-control input-recursos" required maxlength="120" cols="30" rows="10" placeholder="Introduce la descripcion del grupo">{{descrip_grupo}}</textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-6">
                                                <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Color para este grupo</h3>
                                                <div class="colorButtons">
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#D74040'}} selected {{/comparar}}" data-color="#D74040"></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#739232'}} selected {{/comparar}}" data-color="#739232"></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#58B57D'}} selected {{/comparar}}" data-color="#58B57D"></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#407CD7'}} selected {{/comparar}}" data-color="#407CD7"></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#4085D7'}} selected {{/comparar}}" data-color="#4085D7"></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#9540D7'}} selected {{/comparar}}" data-color="#9540D7"></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#812082'}} selected {{/comparar}}" data-color="#812082"></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#FED061'}} selected {{/comparar}}" data-color="#FED061"></button>
                                                </div>
                                                <input type="hidden" id="colorGrupoInput_edit" name="color_grupo" value="{{color_grupo}}">
                                            </div>
                                        </div>
                                        <div class="row align-items-center justify-content-center flex-column">
                                            <select data-id="{{idGrupo}}" class="form-control-sm default-select btnTypeArchivo text-white opcionesEdit">
                                                <option value="">Agregar Elemento</option>
                                                <option value="titulo">Título</option>
                                                <option value="descripcion">Bloque de texto</option>
                                                <option value="separador">Separador</option>
                                                <option value="url">URL</option>
                                                <option value="archivo">Subir Archivo</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-10">
                                                {{{cuerpoHTML}}}
                                            </div>
                                            <br>
                                            <div class="col-10">
                                                <div id="contenidoEdit{{idGrupo}}"></div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" class="btn color_tertiary text-black">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>


                {{!-- SECCIÓN PAR RECURSOS SUELTOS --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                           <table class="table header-border">
                                {{#each datos}}
                                <tbody>
                                    {{#if categoria}}
                                    <tr>
                                        <td colspan="5">
                                            <h3 class="tituloRecurso">{{categoria}}</h3>
                                        </td>
                                    </tr>
                                    {{else}}
                                    <tr class="table-active text-black">
                                        <td class="truncated-cell"><img src="{{ iconoSVG }}" alt="Icono SVG"></td>
                                        <td class="truncated-link">
                                            <a class="text-black" href="{{recurso}}" title="{{recurso}}" target="_blank">{{nombre_recurso}}</a>
                                        </td>
                                        <td class="truncated-cell">{{fecha}}</td>
                                        <td class="truncated-cell">
                                            <div style="margin: 0 auto">
                                                <a href="{{recurso}}" title="{{recurso}}" target="_blank" class="btn color_gradient shadow btn-xs sharp mr-1 text-white"><i class="fa-solid fa-cloud-arrow-down"></i></a>
                                                <a onclick="eliminarRecurso({{idRecurso}})" class="btn btn-danger shadow btn-xs sharp text-white"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>