<link rel="stylesheet" href="../css/recursos.css">

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3 card_banner_recursos">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="media-body media_img">
                                <img src="../img/Recursos_nube.png" id="img_nube" alt="Recursos Upload Enterprise">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <br><br>
                            <div class="card-body">
                                <h6 class="titulo">Bienvenido(a) al area de recursos</h6>
                                <p class="texto">Desde aquí tendrás acceso a los recursos que hemos preparado para facilitar tu proceso de
                                    crecimiento empresarial, duplicarlos para editarlos y cargar tus propios archivos para tener tu información
                                    organizada en un solo lugar.</p>
                            </div>
                            {{!-- HEADER VISTA RECURSOS (MODALES PARA CARGAR LINK, ARCHIOS Y SUBIR GRUPOS DE RECURSOS) --}}
                                {{> modals/recursos_header}} 
                        </div>
                    </div>
                </div>
                
                {{!-- SECCIÓN PARA RECURSOS COMPARTIDOS  Nota: esto lo publica el admin--}}
                <br>
                <br>
                <div class="row" style="margin-top: 15%;">
                    {{#if recursoCompartido}}
                    <h3 class="msg_recurso">Recursos compartidos</h3>
<<<<<<< HEAD
                        {{#each recursoCompartido}}
                        <div class="col-xl-3">
                            <div class="card text-white" style="background:{{color_grupo}};border-radius: 11px;width: 270px; height: 270px;">
                                <a onclick="copiarGrupo('{{idGrupo}}')" class="btn shadow btn-xs sharp position-absolute" style="top: 10px;right: 10px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;">
                                    <img src="../img/Icono_Duplicar.svg" alt="Copiar Grupo">
                                </a>
                                <a href="#" data-toggle="modal" data-target="#modalAdmin-{{idGrupo}}">
                                    <div class="card-body mb-0">
=======
                    {{#each recursoCompartido}}
                    <div class="col-xl-3">
                        <div class="card text-white" style="background:{{color_grupo}};border-radius: 11px;width: 270px; height: 270px;">
                            <a onclick="copiarGrupo('{{idGrupo}}')" class="btn shadow btn-xs sharp position-absolute" style="top: 10px;right: 10px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;">
                                <img src="../img/Icono_Duplicar.svg" alt="Copiar Grupo">
                            </a>
                            <a href="#" data-toggle="modal" data-target="#modalAdmin-{{idGrupo}}">
                                <div class="card-body mb-0">
                                    <br>
                                    <div class="widget-media">
                                        <div class="timeline d-flex flex-row">
                                            {{#each iconos}}
                                                <div class="timeline-panel">
                                                    <img src="{{ruta}}" alt="Icono"/>
                                                </div>
                                            {{/each}}
                                        </div>
                                        <h3 class="card-footer bg-transparent border-0 text-white" style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 20px;">{{nombre_grupo}}</h3>
                                        <div class="card-footer bg-transparent border-0 text-white" style="font-size: 13px;margin:7px -29px;">{{descrip_grupo}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Modal RECURSOS COMPARTIDOS DESDE EL ADMIN -->
                    <div class="modal fade grupo" id="modalAdmin-{{idGrupo}}" >
                        <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Recurso compartido</h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>
                                    <div class="text-black" style="text-align: center;">
                                        <h5 class="modal-title text-black" style="font-weight: 500;font-size: 20px;">Accede a información util para tu desarrollo empresarial</h5>
                                        <p style="font-weight: 265;font-size: 15px;">Solo puedes leer este grupo de recursos, si deseas editarlo, duplícalo a tus recursos personales</p>
                                    </div>        
                                    <div class="modal-body">
                                        <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
>>>>>>> parent of eafeb78 (Hot Fix 6.0 (Cuestionarios Nuevas preguntas))
                                        <br>
                                        <div class="widget-media">
                                            <div class="timeline d-flex flex-row">
                                                {{#each iconos}}
                                                    <div class="timeline-panel">
                                                        <img src="{{ruta}}" alt="Icono"/>
                                                    </div>
                                                {{/each}}
                                            </div>
                                            <h3 class="card-footer bg-transparent border-0 text-white" style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 20px;">{{nombre_grupo}}</h3>
                                            <div class="card-footer bg-transparent border-0 text-white" style="font-size: 13px;margin:7px -29px;">{{descrip_grupo}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Modal RECURSOS COMPARTIDOS DESDE EL ADMIN -->
                        <div class="modal fade grupo" id="modalAdmin-{{idGrupo}}" >
                            <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title text-black" style="font-weight: 800;font-size: 30px;">Recurso compartido</h5>
                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="text-black" style="text-align: center;">
                                            <h5 class="modal-title text-black" style="font-weight: 500;font-size: 20px;">Accede a información util para tu desarrollo empresarial</h5>
                                            <p style="font-weight: 265;font-size: 15px;">Solo puedes leer este grupo de recursos, si deseas editarlo, duplícalo a tus recursos personales</p>
                                        </div>        
                                        <div class="modal-body">
                                            <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
                                            <br>
                                            <div class="row opera">
                                                <div class="col-10">
                                                    {{{cuerpoHTML}}}
                                                </div>
                                                <br>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- Modal -->
                        {{/each}}
                    {{else}}
                        <h3 class="msg_recurso">Aún no sé han subido recursos compartidos</h3>
                    {{/if}}
                </div>

                {{!-- SECCIÓN MIS DOCUMENTOS - GRUPOS --}}
                <div class="row" style="margin-top: 7.5em;">
                    {{#if grupos}}
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Mis documentos</h3>
                    <h3 style="position: absolute; margin-top: -35px;margin-left: 16px;color:#000000;font-weight: 300;">Grupos</h3>
                    {{/if}}    
                    {{#each grupos}}
                    <div class="col-xl-4">
                        <div class="card text-white card_grupo" style="background:{{color_grupo}}">
                            <a onclick="eliminarGrupo({{idGrupo}})" class="btn btn-white shadow btn-xs sharp text-white position-absolute" style="top: 10px;right: 10px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;"><i class="fa fa-trash" style="margin: -3px;font-size: 12px"></i></a>
                            <a href="#" data-toggle="modal" data-target="#modal-{{idGrupo}}" onclick="verGrupo('{{idGrupo}}')">
                                <div class="card-body mb-0">
                                    <br>
                                    <div class="widget-media">
                                        <div class="timeline d-flex flex-row">
                                        {{#each iconos}}
                                            <div class="timeline-panel"> 
                                                <img src="{{ruta}}" alt="Icono"/>
                                            </div>
                                        {{/each}}
                                        </div>
                                        <h3 class="card-footer bg-transparent border-0 text-white" style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 20px;">{{nombre_grupo}}</h3>
                                        <div class="card-footer bg-transparent border-0 text-white styleMovil" style="font-size: 13px;margin:7px -29px;">{{descrip_grupo}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    {{!-- Modal GRUPOS CREADOS - EDITAR GRUPOS --}}
                    <div class="modal fade grupo" id="modal-{{idGrupo}}" >
                        <div class="modal-dialog" role="document">
                            <form action="/actualizarRecurso" method="post">
                                <input type="hidden" name="formuario" value="true" />
                                <input type="hidden" name="idRecurso" value="{{idGrupo}}" id="idRecurso-{{idGrupo}}" />
                                <input type="hidden" id="contador_{{idGrupo}}" value="{{contador}}" />
                                
                                <div class="modal-content">
                                    {{> modals/header_GrupoRecursos}}
                                    <div class="modal-body">
                                        <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
                                        <div class="row align-items-center justify-content-center row_inputs">
                                            <div class="col-3" style="margin-left: -16px;">
                                                <input type="text" class="form-control input-recursos" required name="nombre_grupo" placeholder="Introduce el nombre del grupo" value="{{nombre_grupo}}">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" name="descrip_grupo" class="form-control input-recursos" required placeholder="Introduce una descripcion" value="{{descrip_grupo}}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row align-items-center justify-content-center tarjeta">
                                            <div class="col-12"> 
                                                <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Color para este grupo</h3>
                                                <div class="colorButtons">
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#D74040'}} selected {{/comparar}}" data-color="#D74040" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#739232'}} selected {{/comparar}}" data-color="#739232" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#58B57D'}} selected {{/comparar}}" data-color="#58B57D" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#407CD7'}} selected {{/comparar}}" data-color="#407CD7" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#4085D7'}} selected {{/comparar}}" data-color="#4085D7" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#9540D7'}} selected {{/comparar}}" data-color="#9540D7" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#812082'}} selected {{/comparar}}" data-color="#812082" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEdit {{#comparar color_grupo '==' '#FED061'}} selected {{/comparar}}" data-color="#FED061" data-target="#colorGrupoInput_edit_{{idGrupo}}" ></button>
                                                </div>
                                                <input type="hidden" id="colorGrupoInput_edit_{{idGrupo}}" name="color_grupo" value="{{color_grupo}}" >
                                            </div>
                                        </div> 
                                        <div class="row align-items-center justify-content-center flex-column">
                                            <select data-id="{{idGrupo}}" class="form-control-sm default-select btnTypeArchivo text-white opcionesEdit">
                                                <option value="">Agregar Elemento</option>
                                                <option value="titulo">Título</option>
                                                <option value="descripcion">Bloque de texto</option>
                                                <option value="separador">Separador</option>
                                                <option value="url">URL</option>
                                                <option value="archivo">Subir Archivo</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-10">
                                                {{{cuerpoHTML}}}
                                            </div>
                                            <br>
                                            <div class="col-10">
                                                <div id="contenidoEdit{{idGrupo}}"></div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" class="btn color_tertiary btn-save text-black">
                                            <i class="loading-icon fa fa-spinner fa-spin mostrar"></i>
                                            <span class="text-btn">Guardar</span>
                                        </button>
                                    </div>
                                </div>
                                <style>
                        .mostrar{
                          display: none;
                        }
                      </style>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
                
                {{!-- SECCIÓN PAR RECURSOS SUELTOS --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                           <table class="table header-border">
                                {{#each datos}}
                                <tbody>
                                    {{#if categoria}}
                                    <tr>
                                        <td colspan="5">
                                           <h3 class="tituloRecurso">
                                            <input type="text" onblur="editarCategoria({{idCategoria}})" class="form-control input-recursos" onclick="capturarTxt_temp({{idCategoria}})" style="border: none !important; background-color: transparent !important;color: black;font-size: 20px;font-weight: 600;" id="{{idCategoria}}" value="{{categoria}}">
                                            </h3>
                                        </td>
                                    </tr>
                                    {{else}}
                                    <tr class="table-active text-black">
                                        <td class="truncated-cell"><img src="{{ iconoSVG }}" alt="Icono SVG"></td>
                                        <td class="truncated-link">
                                            <a class="text-black" href="{{recurso}}" title="{{recurso}}" target="_blank">{{nombre_recurso}}</a>
                                        </td>
                                        <td class="truncated-cell">{{fecha}}</td>
                                        <td class="truncated-cell">
                                            <div style="margin: 0 auto">
                                                <a href="{{recurso}}" title="{{recurso}}" target="_blank" class="btn color_gradient shadow btn-xs sharp mr-1 text-white"><i class="fa-solid fa-cloud-arrow-down"></i></a>
                                                <a onclick="eliminarRecurso({{idRecurso}})" class="btn btn-danger shadow btn-xs sharp text-white"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
       {{#if tutoriales.etapa }}
            //POPUP CON TUTORIAL
            Swal.fire({
                title: '<strong>Bienvenido a Material Empresarial</strong>',
                // icon: 'info',
                html: '<video controls style="width: 91%;">' + 
                    '  <source src="https://3csigma.com/app_public_files/videos_tutoriales/tutorial_recursos.mp4" type="video/mp4">' +
                    '  Your browser does not support the video tag.' +
                    '</video>',
                showCloseButton: true,
                showCancelButton: false,
                focusConfirm: false,
                confirmButtonColor: '#812082',
                confirmButtonText: '<i class="fa fa-thumbs-up"></i> Ok!',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonText: '<i class="fa fa-thumbs-down"></i>',
                cancelButtonAriaLabel: 'Thumbs down',
                customClass: {
                    popup: 'custom-modal-class',
                }
            });
        {{/if}}
    });
</script>
