<link rel="stylesheet" href="../css/recursos.css">

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3 card_banner_recursos">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="media-body media_img">
                                <img src="../img/Recursos_nube.png" id="img_nube" alt="Recursos Upload Enterprise">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <br><br>
                            <div class="card-body">
                                 <h6 class="titulo">Bienvenido(a) al area de recursos</h6>
                                <p class="texto">Desde aquí podrás crear los recursos que verán las empresas, necesarios para llevar a cabo su proceso de mentoría, los recursos que se añadan aquí serán vistos por todas las empresas que cumplan el criterio del programa para el cual fue creado el recurso.</p>
                            </div>
                            {{!-- HEADER VISTA RECURSOS (MODALES PARA CARGAR LINK, ARCHIOS Y SUBIR GRUPOS DE RECURSOS) --}}
                                {{> modals/recursos_header}} 
                        </div>
                    </div>
                </div>
                <br>
                <br>
                {{!-- SECCIÓN PARA RECURSOS COMPARTIDOS --}}
                <div class="row" style="margin-top: 15%;">
                    {{#if grupos}}
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Recursos compartidos</h3>
                    {{#each grupos}}
                     <div class="col-xl-3">
                        <div class="card text-white card_grupo" style="background:{{color_grupo}}">
                            <a onclick="eliminarGrupo({{idGrupo}})" class="btn btn-white shadow btn-xs sharp text-white position-absolute" style="top: 10px;right: 10px;padding: 0px;width: 18px;height: 18px; min-width: 21px; min-height: 20px;"><i class="fa fa-trash" style="margin: -3px;font-size: 12px"></i></a>
                            <a href="#" data-toggle="modal" data-target="#modal-{{idGrupo}}" onclick="verGrupo('{{idGrupo}}')">
                                <div class="card-body mb-0" style="padding-top: 1.2em;">
                                    <span class="border-0 text-white" style="font-size: 10px;">{{#each programa.txt}}{{this}}{{/each}}</span>
                                    <br>
                                    <div class="widget-media pt-3">
                                        <div class="timeline d-flex flex-row">
                                        {{#each iconos}}
                                            <div class="timeline-panel">
                                                <img src="{{ruta}}" alt="Icono"/>
                                            </div>
                                        {{/each}}
                                        </div>
                                        <h3 class="card-footer bg-transparent border-0 text-white" style="padding: 0px 0px 0px;margin: -15px 0px;font-size: 20px;">{{nombre_grupo}}</h3>
                                        <div class="card-footer bg-transparent border-0 text-white styleMovil" style="font-size: 13px;margin:7px -29px;">{{descrip_grupo}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    {{!-- Modal GRUPOS CREADOS - EDITAR GRUPOS --}}
                    <div class="modal fade grupo" id="modal-{{idGrupo}}" >
                        <div class="modal-dialog" role="document">
                            <form action="/actualizarRecurso" method="post">
                                {{!-- Campo oculto para indicar que la solicitud proviene del formulario --}}
                                <input type="hidden" name="formuario" value="true" />
                                <input type="hidden" name="idRecurso" value="{{idGrupo}}" id="idRecurso-{{idGrupo}}">
                                <input type="hidden" value="{{contador}}" id="contador_{{idGrupo}}">
                                
                                <div class="modal-content">
                                    {{> modals/header_GrupoRecursos}}
                                    <div class="modal-body">
                                        <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Información del grupo de recursos</h3>
                                        <div class="row align-items-center justify-content-center row_inputs">
                                            <div class="col-3" style="margin-left: -16px;">
                                                <input type="text" class="form-control input-recursos" required name="nombre_grupo" placeholder="Introduce el nombre del grupo" value="{{nombre_grupo}}" />
                                            </div>
                                            <div class="col-3">
                                                <input type="text" name="descrip_grupo" class="form-control input-recursos" required placeholder="Introduce una descripcion" value="{{descrip_grupo}}" maxlength="85" />
                                            </div>
                                        </div>
                                        <br>
                                        <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">
                                            Programa(s) destino</h3>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="programa" value="1" {{#if programa.n1}}checked=""{{/if}}>Free Trial
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="programa" value="2" {{#if programa.n2}}checked=""{{/if}}>Entrepreneur
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="programa" value="3" {{#if programa.n3}}checked=""{{/if}}>Business
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="programa" value="4" {{#if programa.n4}}checked=""{{/if}}>Enterprise
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="programa" value="5" {{#if programa.n5}}checked=""{{/if}}>Accelerate
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="programa" value="6" {{#if programa.n6}}checked=""{{/if}}>Por compra
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="programa" value="7" {{#if programa.n7}}checked=""{{/if}}>NAR
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center justify-content-center tarjetas_admin">
                                            <div class="col-12">
                                                <h3 style="font-weight: 500;font-size: 20px;color: #000000;text-align: center;">Color para este grupo</h3>
                                                <div class="colorButtons">
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#D74040'}} selected {{/comparar}}" data-color="#D74040" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#739232'}} selected {{/comparar}}" data-color="#739232" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#58B57D'}} selected {{/comparar}}" data-color="#58B57D" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#407CD7'}} selected {{/comparar}}" data-color="#407CD7" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#4085D7'}} selected {{/comparar}}" data-color="#4085D7" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#9540D7'}} selected {{/comparar}}" data-color="#9540D7" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#812082'}} selected {{/comparar}}" data-color="#812082" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                    <button type="button" class="colorButton colorBtnEditAdm {{#comparar color_grupo '==' '#FED061'}} selected {{/comparar}}" data-color="#FED061" data-target="#colorGrupoInput_editAdm_{{idGrupo}}" ></button>
                                                </div>
                                                <input type="hidden" id="colorGrupoInput_editAdm_{{idGrupo}}" name="color_grupo" value="{{color_grupo}}">
                                            </div>
                                        </div>
                                        <div class="row align-items-center justify-content-center flex-column">
                                            <select data-id="{{idGrupo}}" class="form-control-sm default-select btnTypeArchivo text-white opcionesEdit">
                                                <option value="">Agregar Elemento</option>
                                                <option value="titulo">Título</option>
                                                <option value="descripcion">Bloque de texto</option>
                                                <option value="separador">Separador</option>
                                                <option value="url">URL</option>
                                                <option value="archivo">Subir Archivo</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-10">
                                                {{{cuerpoHTML}}}
                                            </div>
                                            <br>
                                            <div class="col-10">
                                                <div id="contenidoEdit{{idGrupo}}"></div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" class="btn color_tertiary text-black">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <h3 style="position: absolute; margin-top: -57px;margin-left: 16px;color:#000000;font-weight: 600;">Aún no sé han subido recursos</h3>
                    {{/if}}
                    
                </div>

            </div>
        </div>
    </div>
</div>
{{!-- <script src="../js/jquery.js"></script> --}}
<script>
    // Selecciona todos los botones de color y campos de texto dentro de las tarjetas
const tarjetas_admin = document.querySelectorAll('.tarjetas_admin');

tarjetas_admin.forEach((t) => {
    const colorBtnEditAdm = t.querySelectorAll('.colorBtnEditAdm');
    const colorGrupoInput_editAdm_ = t.querySelector('.colorGrupoInput_editAdm_');

    capturarColor_GrupoEditAdm(colorBtnEditAdm, colorGrupoInput_editAdm_);
});

function capturarColor_GrupoEditAdm(colorButtonsAdm_, colorGrupoInput_editAdm_) {
    colorButtonsAdm_.forEach((button) => {
        button.addEventListener("click", function() {
            // Remover la clase 'selected' de todos los botones
            colorButtonsAdm_.forEach(btn => btn.classList.remove('selected'));

            // Agregar la clase 'selected' al botón clicado
            this.classList.add('selected');

            // Obtener el ID del campo de texto correspondiente
            const targetFieldID = this.getAttribute('data-target');
            
            // Buscar el campo de texto correspondiente usando el ID
            const colorGrupoInput = document.querySelector(targetFieldID);
            
            if (colorGrupoInput) {
                // Guardar el color seleccionado en el campo de entrada oculto
                colorGrupoInput.value = this.getAttribute('data-color');
            }
        });
    });
}
</script>