<style>
.default-tab .nav-link:focus, .default-tab .nav-link:hover, .default-tab .nav-link.active {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff #ebeef6 !important;
    border-radius: 1.25rem 1.25rem 0 0 !important;
}
.nav-tabs .nav-item .nav-link:before, .nav-tabs .nav-item .nav-link.active:before {
    height: 3px;
    background-color: transparent;
}
.nav-tabs .nav-link {
    border: 1px solid transparent !important;
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}
</style>
<!--**********************************
        Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h1 class="text-black two-line-text">Módulos educativos</h1>
                        <a href="/crear-modulos" class="btn color_gradient text-white"><i class="fa fa-plus"></i> Nuevo</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display min-w850" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>THUMBNAIL</th>
                                        <th>MÓDULO</th>
                                        <th>CATEGORÍA</th>
                                        <th>LECCIONES</th>
                                        <th>PROGRAMA</th>
                                        <th>ESTADO</th>
                                        <th>ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each modulos}}
                                    <tr>
                                        <td><div class="d-flex align-items-center"><img src="{{imagen}}"class="rounded-lg mr-2" width="112" alt="" /></div></td>
                                        <td>{{nombre}}</td>
                                        <td>{{categoria}}</td>
                                        <td>{{numLecciones}} Lecciones</td>
                                        <td>{{programas}}</td>
                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle {{color}} mr-1"></i>{{estado}}</div></td>
                                        <td><div style="margin: 0 auto">
                                                {{!-- <a onclick="bloquearEmpresa({{id_empresas}})"class="btn btn-warning shadow btn-xs sharp mr-1 text-white"><i class="fa fa-ban"></i></a> --}}
                                                {{!-- <a href="/empresas/{{codigo}}"class="btn color_gradient shadow btn-xs sharp mr-1 text-white"><i class="fa fa-pencil"></i></a> --}}
                                                <a onclick="eliminarModulos({{id}})"class="btn btn-danger shadow btn-xs sharp text-white"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-black">Módulos educativos</h1>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display min-w850" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>THUMBNAIL</th>
                                        <th>MÓDULO</th>
                                        <th>CATEGORÍA</th>
                                        <th>LECCIONES</th>
                                        <th>PROGRAMA</th>
                                        <th>ESTADO</th>
                                        <th>ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each modulos}}
                                    <tr>
                                        <td><div class="d-flex align-items-center"><img src="{{imagen}}"class="rounded-lg mr-2" width="112" alt="" /></div></td>
                                        <td>{{nombre}}</td>
                                        <td>{{categoria}}</td>
                                        <td>{{numLecciones}} Lecciones</td>
                                        <td>{{programas}}</td>
                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle {{color}} mr-1"></i>{{estado}}</div></td>
                                        <td><div style="margin: 0 auto">
                                                {{!-- <a onclick="bloquearEmpresa({{id_empresas}})"class="btn btn-warning shadow btn-xs sharp mr-1 text-white"><i class="fa fa-ban"></i></a> --}}
                                                {{!-- <a href="/empresas/{{codigo}}"class="btn color_gradient shadow btn-xs sharp mr-1 text-white"><i class="fa fa-pencil"></i></a> --}}
                                                <a onclick="eliminarModulos({{id}})"class="btn btn-danger shadow btn-xs sharp text-white"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" class="btn color_gradient text-white" data-dismiss="modal">Cerrar</button> --}}
                    <button type="submit" class="btn color_gradient text-white">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!--
<script src="../js/jquery.js"></script> --}}
<script>
    // ACTUALIZAR CATEGORÍAS (CURSOS)
    function editCategory(nombre) {
        console.log("Categoría a editar: ", nombre)
        $('#categoria_actual').val(nombre);
    }

    //   ELIMINANDO MODULOS CREADOS
    function eliminarModulos(id) {
        Swal.fire({
            title: '¿Seguro que deseas eliminar este modulo?',
            text: "Esta acción no se puede deshacer.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#50368C',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: '¡Sí, Borrar!'
        })
            .then((result) => {
                if (result.isConfirmed) {
                    fetch('/eliminar-modulo', {
                        method: 'POST',
                        body: JSON.stringify({ id }),
                        headers: { 'Content-Type': 'application/json' }
                    }).then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(response => {
                            if (response) {
                                location.reload();
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Error al borrar el modulo.',
                                    'error'
                                )
                            }
                        });
                }
            })
    }
</script>