

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Profile Datatable</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>THUMBNAIL</th>
                                                <th>MÓDULO</th>
                                                <th>CATEGORÍA</th>
                                                <th>LECCIONES</th>
                                                <th>PROGRAMA</th>
                                                <th>ESTADO</th>
                                                <th>ACCIÓN</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each modulos}}
                                            <tr>
                                                <td><div class="d-flex align-items-center"><img src="{{imagen}}" class="rounded-lg mr-2" width="112" alt=""/></div></td>
                                                <td>{{nombre}}</td>
												<td>{{categoria}}</td>
                                                <td>{{numLecciones}} Lecciones</td>
                                                <td>{{programas}}</td>
                                                <td><div class="d-flex align-items-center"><i class="fa fa-circle {{color}} mr-1"></i>{{estado}}</div></td>
                                                <td>
													<div class="d-flex">
														<a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
														<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
													</div>
												</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
