<div class="form-body">
    <div class="top_logo">
        <a href="/">
            <div class="logo-Login">
                <img class="logo-size-Login" src="/img/logo.svg" alt="Logo 3CSigma">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
            </div>
        </div>
        <div class="loginBanner">
            <img class="loginBanner-size" src="/img/Login_Banner_movil.jpg" alt="Banner Móvil">
        </div>

        <div class="form-holder form-abajo">
            <div class="form-content">
                <div class="form-items">
                    {{> general/message }}
                    <h3 class="tituH3">{{tituloH3}}</h3>
                    {{#if resetUser}}
                    <p class="msg-Login-Top">¡Bienvenido de nuevo!</p>
                    <p class="msg-Login-Top">Ingresa tu correo registrado en la platforma!</p>
                    {{else}}
                    <p class="msg-Login-Top">Ingresa el mismo correo que usaste al adquirir tu programa</p>
                    {{/if}}
                    <br>
                    <form action="/reset-password-email" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <label style="color:#000;font-weight: bold !important; margin-top: 6px;">Correo
                            electrónico</label>*</label>
                        <input class="form-control" type="email" id="email" name="email"
                            placeholder="ejemplo@tusitioweb.com" required autofocus>

                        <p id="message" style="color:#6B2986; font-size: 12px; font-weight: bold;"> </p>
                        <div class="row">
                            <div class="col-12 col-sm-12" style="margin-top: -15px; font-size: 14px;">
                                {{#if resetUser}}¿Recordaste?{{/if}}
                                <a href="/login" class="text-secondary">¿Ya tienes una cuenta? Inicia sesión.</a>
                            </div>
                        </div>
                        <div class="form-button d-flex align-items-center">
                            <button id="submit" type="submit"
                                class="ibtn login-ingresar color_gradient text-center fw-bold mx-auto mb-4">Enviar</button>
                        </div>
                        <input type="hidden" name="resetUser" value="{{resetUser}}">
                    </form>

                    {{!-- Copyright --}}
                    <div class="d-flex align-items-center my-4">
                        <br><br>
                        <span class="text-center fw-bold mx-auto mb-0 mt-4">{{actualYear}} Copyright &copy; 3C Sigma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>